body {
    background-color: rgb(34, 75, 63);
}

#darkImage{
    max-width: 100%;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    display: block !important;
}

#image{
    display: none;
}

.login-page .register-text,
.register-page, .forgotPassword-page,
.newPassword-page{
    color: white !important;
}

.login-page .right, .login-page .left, .login-page .center,
.register-page .right, .register-page .left, .register-page .center,
.forgotPassword-page .right, .forgotPassword-page .left, .forgotPassword-page .center,
.newPassword-page .right, .newPassword-page .left, .newPassword-page .center,
.myGroup-page .large-search-box, .myGroup-page .right-search-box
{
    background-color: rgb(48 48 48);
    border-radius: 20px;
    background-image: linear-gradient(to left, rgb(48 48 48), rgb(48 48 48));
    border: 3px solid rgb(48 48 48);
}

.index-page .right, .profile-page .right,
.profile-page .profile-container, .profile-page .profile-left, .profile-page .profile-right,
.profile-page .section, .myGroup-page .mentor-side.active.selected, .myGroup-page .mentee-side.active.selected,
.myGroup-page .selected-page, .myGroup-page .profile-modal, .myGroup-page .section, .myGroup-page .profile-right,
.myGroup-page .profile-modal-right-box, .favorites-page .selected, .favorites-page .left-message-box,
.favorites-page .right-message-box, .favorites-page .chat-input-box, .resources-page .selected, .exams-page .selected,
.diploma-page .selected, .resources-page .right, .resources-page .modal-content-resource, .resources-page .dropbtn,
.exams-page .right, .exams-page .modal-content-examExamples, .diploma-page .right, .diploma-page .modal-content-diplomaTheses,
.settings-page .right, .myGroup-page .right, .settings-page .modal-content, .exams-page .dropbtn, .diploma-page .dropbtn{
    background-color: rgb(48 48 48) !important;
    box-shadow: none !important;
}

.index-page .right span,
.profile-page, .myGroup-page, .myGroup-page .dropbtn-myGroup, .myGroup-page .dropdown-content-myGroup,
.myGroup-page .myGroupName, .favorites-page .username-messenger, .favorites-page .profile-button-container-sure,
.resources-page, .exams-page, .exams-page td, .diploma-page, .diploma-page td, .settings-page{
    color: white;
}

.profile-page .divider, .myGroup-page .dropbtn-myGroup, .myGroup-page .dropdown-content-myGroup,
.myGroup-page .divider, .settings-page .divider{
    background-color: rgb(22, 175, 132) !important;
}

.profile-page td:hover, .profile-page tr:hover, .profile-page .modal-content-profile,
.profile-page .modal-content-skills, .profile-page .modal-content-upload, .profile-page .modal-content-mentor,
.alertModal-content, .myGroup-page .left-search-box, .myGroup-page #favorites, .favorites-page #searchMyGroup,
.resources-page #examExamples, .resources-page #diplomaTheses, .exams-page #resources, .exams-page #diplomaTheses,
.diploma-page #resources, .diploma-page #exams, .diploma-page #examExamples{
    background-color: rgb(34, 75, 63) !important;
    border: none !important;
}

.myGroup-page .mentor-side, .myGroup-page .mentee-side, .topics-page .right, .diploma-page .info-modal-content{
    background-color: rgb(34, 75, 63) !important;
    color: white !important;
}

.resources-page #topic-myCheckboxes, .diploma-page #topic-myCheckboxes, .exams-page #topic-myCheckboxes {
    color: rgb(48 48 48) !important;
}

#preloader {
    background: linear-gradient(to bottom, #000000, rgb(50, 189, 149));
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 1000000;
}

#preloader::after {
    content: '';
    background-image: url('../gif/preload.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 1000001;
}

#suggestion-list{
    color: black !important;
}