@font-face {
    font-family: 'CustomFont';
    src: url('../fonts/roundfont.ttf') format('truetype')}

body {
    margin: 0;
    font-family: 'CustomFont';
}

.right {
    flex-direction: column;
    align-items: center;
}

/* MENU BAR START */
.resource-menu {
    width: 100%;
    height: auto;
    border-bottom: 3px solid rgb(22, 175, 132);
    position: sticky;
    top: 0;
    z-index: 1;
}

.button-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 3px solid rgb(22, 175, 132);
}

.button-container button {
    flex-grow: 1;
    color: rgb(25, 150, 114);
    font-weight: bold;
    margin: 0;
    font-size: 100%;
    padding: 15px;
    border: none;
}

.resource-menu button:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(22, 175, 132);
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}

.selected {
    color: rgb(255, 255, 255) !important;
    background-color: rgb(22, 175, 132);
    transition: background-color 0.3s, color 0.3s;
    cursor: default !important;
}

.divider {
    clear: both;
    width: 100%;
    height: 2px;
    background-color: #000000;
    margin-bottom: 20px;
}

.dropdown {
    display: none;
}

/*SEARCH DIV START*/
.large-message-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    padding-right: 0;
    overflow: hidden;
}

.left-message-box{
    display: flex;
    width: 30%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    border-right: 3px solid rgb(22, 175, 132);
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-top: 25px;
    cursor: pointer;
    overflow-y: auto;
}

.left-message-box .user {
    display: flex;
    align-items: center;
    gap: 10px;
}

.left-message-box .user img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.left-message-box .user .user-status {
    width: 10px;
    height: 10px;
    border-radius: 50%; /* KÃƒÂ¶r alakÃƒÂº */
}

.left-message-box .user .online {
    background-color: green;
}

.left-message-box .user .offline {
    background-color: gray;
}

.right-message-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65%;
    height: 100%;
    background-color: rgb(253, 253, 253);
}


@media screen and (max-width: 1000px) {
    .right-message-box{
        margin-bottom: 5%;
    }

}


@media screen and (max-width: 600px) {
    .left-message-box{
        min-height: 9%;
        height: fit-content;
        width: 100%;
        border-radius: 0px;
        order: -1;
        border-right: none;
        border-bottom: 3px solid rgb(22, 175, 132);
        flex-direction: row;
        overflow-x: auto;
        padding-top: 0;
        padding-left: 25px;
        padding-right: 25px;
    }

    .left-message-box .user span {
        display: none;
    }


    .right-message-box{
        height:100%;
        width: 100%;
        border-radius: 0px;
        margin-bottom: 5%;
    }

    .large-message-box{
        display: flex;
        align-items: start;
        flex-direction: column;
        justify-content: start;
    }

}

@media (max-width: 450px) {
    .info-tooltip {
        position: absolute;
        color: white;
        right: 75px;
        top: 40px;
    }

    .detail-row {
        flex-direction: column;
    }
}

@media (max-width: 600px) {

    .emojionearea-picker {
        left: 5%;
        box-shadow: none;
    }

    .emojionearea .emojionearea-picker {
        box-shadow: none !important;
    }

}


.highlight {
    background-color: #FFCCCC;
}

.right-message-box {
    position: relative;
    overflow: hidden;
}

.chat-input-box{
    position:absolute;
    bottom: 0;
    display:flex;
    width: 85%;
    height:10%;
    border-top: 3px solid rgb(22, 175, 132);
    justify-content:center;
    align-items: center;
    margin-left:5%;
    padding-left:3%;

}

#message-input {
    width: 75%;
    border: none;
    height:55%;
    padding-left:2%;
}

#send-button{
    color: rgb(255, 255, 255);
    background-color: rgb(22, 175, 132);
    border-radius: 20px;
    width: 100px;
    max-width: 55%;
    cursor: pointer;
    padding: 10px;
    border: none;
    height: 40px;
    font-size: 15px;
    margin-left: 15px;
    margin-right: 15px;
    align-items: start;
    justify-content: center;
}

#send-button:hover {
    background-color: rgb(30, 214, 162);
    border: 2px solid white;
}

#emoji-button{
    display: none;
}

