@font-face {
    font-family: 'CustomFont';
    src: url('../fonts/roundfont.ttf') format('truetype')}

body {
    margin: 0;
    font-family: 'CustomFont';
}

.right {
    flex-direction: column;
    align-items: center;
}

/* MENU BAR START */
.resource-menu {
    width: 100%;
    height: auto;
    border-bottom: 3px solid rgb(22, 175, 132);
    position: sticky;
    top: 0;
    z-index: 1;
}

.button-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 3px solid rgb(22, 175, 132);
}

.button-container button {
    flex-grow: 1;
    color: rgb(25, 150, 114);
    font-weight: bold;
    margin: 0;
    font-size: 100%;
    padding: 15px;
    border: none;
}

.resource-menu button:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(22, 175, 132);
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}

.selected {
    color: rgb(255, 255, 255) !important;
    background-color: rgb(22, 175, 132);
    transition: background-color 0.3s, color 0.3s;
    cursor: default !important;
}

.divider {
    clear: both;
    width: 100%;
    height: 2px;
    background-color: #000000;
    margin-bottom: 20px;
}

.dropdown {
    display: none;
}

/*SEARCH DIV START*/
.large-message-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
}

.left-message-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    border-right: 3px solid rgb(22, 175, 132);
}

.right-message-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65%;
    height: 100%;
    background-color: rgb(253, 253, 253);
}


@media screen and (max-width: 1000px) {

}


@media screen and (max-width: 600px) {
    .left-message-box{
        min-height: 9%;
        height: fit-content;
        width: 100%;
        border-radius: 0px;
        order: -1;
        border-right: none;
        border-bottom: 3px solid rgb(22, 175, 132);
    }

    .right-message-box{
        height: fit-content;
        width: 100%;
        border-radius: 0px;
    }

    .large-message-box{
        display: flex;
        align-items: start;
        flex-direction: column;
        justify-content: start;
    }

}

@media (max-width: 450px) {
    .info-tooltip {
        position: absolute;
        color: white;
        right: 75px;
        top: 40px;
    }

    .detail-row {
        flex-direction: column;
    }
}

@media (max-width: 600px) {

}


.highlight {
    background-color: #FFCCCC;
}



