@font-face {
    font-family: 'CustomFont';
    src: url('../fonts/roundfont.ttf') format('truetype')}

body {
    margin: 0;
    font-family: 'CustomFont';
}

.right {
    flex-direction: column;
    align-items: center;
}

/* MENU BAR START */
.resource-menu {
    width: 100%;
    height: auto;
    border-bottom: 3px solid rgb(22, 175, 132);
    position: sticky;
    top: 0;
    z-index: 1;
}

.button-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 3px solid rgb(22, 175, 132);
}

.button-container button {
    flex-grow: 1;
    color: rgb(25, 150, 114);
    font-weight: bold;
    margin: 0;
    font-size: 100%;
    padding: 15px;
    border: none;
}

.resource-menu button:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(22, 175, 132);
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}

.selected {
    color: rgb(255, 255, 255) !important;
    background-color: rgb(22, 175, 132);
    transition: background-color 0.3s, color 0.3s;
    cursor: default !important;
}

.divider {
    clear: both;
    width: 100%;
    height: 2px;
    background-color: #000000;
    margin-bottom: 20px;
}

.dropdown {
    display: none;
}

.button-box {
    display: flex;
    justify-content: center;
    margin-top: auto;
    width: 100%;
    padding: 25px;
    margin-bottom: 25%;
}

#myFilterBtn {
    display: none;
    width: 100%;
    background: white;
    color: rgb(22, 175, 132);
    border: none;
    padding: 10px;
    font-size: 15px;
    border: 3px solid;
    border-radius: 20px;
    margin-top: 5px;
    cursor: pointer;
}

#myFilterBtn:hover {
    background-color: rgb(204, 252, 234);
    font-weight: bold;
}


.year-box, .topic-box {
    width: 100%;
    text-align: center;
    color: white;
    font-size: medium;
}

.year-box .checkbox-container {
    display: inline-block;
    margin: 0 5px;
    text-align: center;
}

.year-box .checkbox-container input[type="checkbox"],
.year-box .checkbox-container label {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 5px;
}

.topic-box{
    display: block;
    margin-bottom: 5px;
    text-align: start;
    margin-left: 15px;
}

.topic-checkboxes label {
    margin-bottom: 5px;
}
.container-checkbox-myGroup {
    display: inline-block;
    position: relative;
    margin-bottom: 12px;
    cursor: pointer;
    padding-left: 30px; /* Adjust as needed */
}

.container-checkbox-myGroup input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark-myGroup {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
    border: 2px solid rgb(22, 175, 132);
}

.container-checkbox-myGroup input:checked ~ .checkmark-myGroup {
    background-color: #2196F3;
}


.container-checkbox-myGroup:hover input ~ .checkmark-myGroup {
    background-color: rgb(204, 252, 234);
}

.container-checkbox-myGroup input:checked ~ .checkmark-myGroup {
    background-color: rgb(22, 175, 132);
}

.checkmark-myGroup:after {
    content: "";
    position: absolute;
    display: none;
}

.container-checkbox-myGroup input:checked ~ .checkmark-myGroup:after {
    display: block;
}

.container-checkbox-myGroup .checkmark-myGroup:after {
    left: 7px;
    top: 3px;
    width: 4px;
    height: 9px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.left-search-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.role-button{
    display: flex;
    overflow: hidden;
    margin-top: 4%;
    justify-content: center;
    border-radius: 9px;
}

.role-button {
    display: flex;
}

.role-button .button-divider {
    flex: 0 0 2px; /* Width of the border */
    background-color: rgb(22, 175, 132); /* Green color */
}

.role-button button {
    flex: 1;
    padding: 14px;
    border: none;
    cursor: pointer;
    color: rgb(22, 175, 132);
    font-weight: bold;
    height: 100%;
}

.mentor-side {
    background-color: white;
}

.mentee-side {
    background-color: white;
}

.dropbtn-myGroup {
    background-color: #f1f1f1;
    color: black;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-myGroup {
    position: relative;
    display: inline-block;
    margin-top: 10%;
    width: 100%;
}

.dropdown-content-myGroup {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 9px;
    padding: 14px;
    max-height: 320%;
    overflow: auto;
}

.dropdown-content-myGroup::-webkit-scrollbar {
    width: 0;
}

.dropdown-content-myGroup {
    top: 100%;
    transform: translateY(-6%);
}

.dropdown-myGroup:hover .dropdown-content-myGroup {
    display: block;
    transform: translateY(-6%);
}

.dropbtn-myGroup{
    color: rgb(22, 175, 132);
    background-color: white;
    display: flex;
    overflow: hidden;
    margin-top: 4%;
    justify-content: center;
    border-radius: 9px;
    width: 100%;
}

.dropdown-checkbox{
    border: 1px solid rgb(22, 175, 132);
    padding: 5%;
}

.search-button {
    color: rgb(255, 255, 255);
    background-color: rgb(22, 175, 132);
    border-radius: 20px;
    width: 100px;
    max-width: 55%;
    cursor: pointer;
    padding: 10px;
    border: none;
    height: 40px;
    font-size: 15px;
    margin-left: 15px;
    margin-right: 15px;
    align-items: start;
    display: none;
    justify-content: center;
}

#search-button {
    display: flex;
}

.search-button:hover {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    background-color: rgb(30, 214, 162);
    border: 2px solid white;
}

.cancel-button {
    display: none;
    color: rgb(255, 255, 255);
    background-color: rgb(238, 84, 76);
    border-radius: 20px;
    width: 100px;
    max-width: 55%;
    cursor: pointer;
    padding: 10px;
    border: none;
    height: 40px;
    font-size: 15px;
    text-align: center;
    justify-content: center;
    margin-left: 15px;
    margin-right: 15px;
}

.cancel-button:hover {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    background-color: rgb(233, 99, 81);
    border: 2px solid white;
}

/*SEARCH DIV START*/
.large-search-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    padding-left:5%;
}

.left-search-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    height: 95%;
    background-color: rgb(102, 217, 185);
    border-radius: 50px;
    left: 5px;
    right: 5px;
    background-image: url('../img/pattern2.png');
    background-attachment: local;
    background-size: cover;
}

.search-content {
    flex-grow: 1;
    margin-top: 25%;
}

.right-search-box{
    display: flex;
    justify-content: center;
    width: 65%;
    height: 95%;
    background-color: rgb(253, 253, 253);
    overflow-y: auto;
    max-height: calc(100vh - 60px);
    margin: auto;
    align-items: start;
}

.scrollable-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 5px;
    max-width: 100%;
}

.image-cell {
    flex: 0 0 calc(25% - 10px);
    box-sizing: border-box;
    text-align: center;
    padding: 10px;
}

.rounded-image {
    width: 80%;
    border-radius: 10%;
}

.myGroupName{
    margin-top: 2%;
}

@media screen and (max-width: 768px) {
    .image-cell {
        flex: 0 0 calc(33.333% - 10px);
    }
}

@media screen and (max-width: 480px) {
    .image-cell {
        flex: 0 0 calc(50% - 10px);
    }
}

@media screen and (max-width: 1000px) {
    .search-button {
        display: flex;
    }
}


@media screen and (max-width: 600px) {
    .left-search-box{
        height: fit-content;
        width: 100%;
        border-radius: 0px;
        order: -1;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        padding-left: 0;
    }

    .right-search-box{
        height: fit-content;
        width: 100%;
        border-radius: 0px;
    }

    .large-search-box{
        display: flex;
        align-items: start;
        flex-direction: column;
        justify-content: start;
        padding-left: 0;
    }

    .cancel-button{
        display: flex;
    }

    .button-box {
        padding: 10px;
        margin-bottom: 0%;
    }

    .search-content {
        margin-top: 0;
    }
}

@media (max-width: 450px) {
    .info-tooltip {
        position: absolute;
        color: white;
        right: 75px;
        top: 40px;
    }

    .detail-row {
        flex-direction: column;
    }
    .dropdown-content-myGroup {
        max-height: 520%;
    }
    .dropdown-myGroup:hover .dropdown-content-myGroup {
        display: block;
        transform: translateY(-4%);
    }
}

@media (max-width: 600px) {

}


.highlight {
    background-color: #FFCCCC;
}

.rating {
    direction: rtl;
}

.rating input[type="radio"] {
    display: none;
}

.rating label {
    display: inline-block;
    font-size: 1rem;
    color: gray;
    cursor: pointer;
    transition: color 0.2s;
    padding-bottom: 2.5%;
}



.rating-text {
    text-align: center;
    margin-top: 5px;
}



