@font-face {
    font-family: 'CustomFont';
    src: url('../fonts/roundfont.ttf') format('truetype')}

body {
    margin: 0;
    font-family: 'CustomFont';
}

.right {
    flex-direction: column;
    align-items: center;
}

/* MENU BAR START */
.resource-menu {
    width: 100%;
    height: auto;
    border-bottom: 3px solid rgb(22, 175, 132);
    position: sticky;
    top: 0;
    z-index: 1;
}

.button-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 3px solid rgb(22, 175, 132);
}

.button-container button {
    flex-grow: 1;
    color: rgb(25, 150, 114);
    font-weight: bold;
    margin: 0;
    font-size: 100%;
    padding: 15px;
    border: none;
}

.resource-menu button:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(22, 175, 132);
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}

.selected {
    color: rgb(255, 255, 255) !important;
    background-color: rgb(22, 175, 132);
    transition: background-color 0.3s, color 0.3s;
    cursor: default !important;
}

.divider {
    clear: both;
    width: 100%;
    height: 1px;
    background-color: #000000;
    margin-bottom: 20px;
}

.dropdown {
    display: none;
}

.button-box {
    display: flex;
    justify-content: center;
    margin-top: auto;
    width: 100%;
    padding: 25px;
    margin-bottom: 25%;
}

#myFilterBtn {
    display: none;
    width: 100%;
    background: white;
    color: rgb(22, 175, 132);
    border: none;
    padding: 10px;
    font-size: 15px;
    border: 3px solid;
    border-radius: 20px;
    margin-top: 5px;
    cursor: pointer;
}

#myFilterBtn:hover {
    background-color: rgb(204, 252, 234);
    font-weight: bold;
}


.year-box, .topic-box {
    width: 100%;
    text-align: center;
    color: white;
    font-size: medium;
}

.year-box .checkbox-container {
    display: inline-block;
    margin: 0 5px;
    text-align: center;
}

.year-box .checkbox-container input[type="checkbox"],
.year-box .checkbox-container label {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 5px;
}

.topic-box{
    display: block;
    margin-bottom: 5px;
    text-align: start;
    margin-left: 15px;
}

.topic-checkboxes label {
    margin-bottom: 5px;
}
.container-checkbox-myGroup {
    display: inline-block;
    position: relative;
    margin-bottom: 12px;
    cursor: pointer;
    padding-left: 30px; /* Adjust as needed */
}

.container-checkbox-myGroup input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark-myGroup {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
    border: 2px solid rgb(22, 175, 132);
}

.container-checkbox-myGroup input:checked ~ .checkmark-myGroup {
    background-color: #2196F3;
}


.container-checkbox-myGroup:hover input ~ .checkmark-myGroup {
    background-color: rgb(204, 252, 234);
}

.container-checkbox-myGroup input:checked ~ .checkmark-myGroup {
    background-color: rgb(22, 175, 132);
}

.checkmark-myGroup:after {
    content: "";
    position: absolute;
    display: none;
}

.container-checkbox-myGroup input:checked ~ .checkmark-myGroup:after {
    display: block;
}

.container-checkbox-myGroup .checkmark-myGroup:after {
    left: 7px;
    top: 3px;
    width: 4px;
    height: 9px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.left-search-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.role-button{
    display: flex;
    overflow: hidden;
    margin-top: 4%;
    justify-content: center;
    border-radius: 9px;
}

.role-button {
    display: flex;
}

.role-button .button-divider {
    flex: 0 0 2px; /* Width of the border */
    background-color: rgb(22, 175, 132); /* Green color */
}

.role-button button {
    flex: 1;
    padding: 14px;
    border: none;
    cursor: pointer;
    color: rgb(22, 175, 132);
    font-weight: bold;
    height: 100%;
}

.mentor-side {
    background-color: white;
}

.mentee-side {
    background-color: white;
}

.dropbtn-myGroup {
    background-color: #f1f1f1;
    color: black;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-myGroup {
    position: relative;
    display: inline-block;
    margin-top: 10%;
    width: 100%;
}

.dropdown-content-myGroup {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 9px;
    padding: 34.2px;
    max-height: 320%;
    overflow: auto;
}

.dropdown-content-myGroup::-webkit-scrollbar {
    width: 0;
}

.dropdown-content-myGroup {
    top: 100%;
    transform: translateY(-6%);
}

.dropdown-myGroup:hover .dropdown-content-myGroup {
    display: block;
    transform: translateY(-6%);
}

.dropbtn-myGroup{
    color: rgb(22, 175, 132);
    background-color: white;
    display: flex;
    overflow: hidden;
    margin-top: 4%;
    justify-content: center;
    border-radius: 9px;
    width: 100%;
}

.dropdown-checkbox{
    border: 1px solid rgb(22, 175, 132);
    padding: 5%;
}

.search-button {
    color: rgb(255, 255, 255);
    background-color: rgb(22, 175, 132);
    border-radius: 20px;
    width: 100px;
    max-width: 55%;
    cursor: pointer;
    padding: 10px;
    border: none;
    height: 40px;
    font-size: 15px;
    margin-left: 15px;
    margin-right: 15px;
    align-items: start;
    display: none;
    justify-content: center;
}

#search-button {
    display: flex;
}

.search-button:hover {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    background-color: rgb(30, 214, 162);
    border: 2px solid white;
}

.cancel-button {
    display: none;
    color: rgb(255, 255, 255);
    background-color: rgb(238, 84, 76);
    border-radius: 20px;
    width: 100px;
    max-width: 55%;
    cursor: pointer;
    padding: 10px;
    border: none;
    height: 40px;
    font-size: 15px;
    text-align: center;
    justify-content: center;
    margin-left: 15px;
    margin-right: 15px;
}

.cancel-button:hover {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    background-color: rgb(233, 99, 81);
    border: 2px solid white;
}

/*SEARCH DIV START*/
.large-search-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    padding-left:5%;
}

.left-search-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    height: 95%;
    background-color: rgb(102, 217, 185);
    border-radius: 50px;
    left: 5px;
    right: 5px;
    background-image: url('../img/pattern2.png');
    background-attachment: local;
    background-size: cover;
}

.search-content {
    flex-grow: 1;
    margin-top: 25%;
}

.right-search-box{
    display: flex;
    justify-content: center;
    width: 65%;
    height: 95%;
    background-color: rgb(253, 253, 253);
    overflow-y: auto;
    max-height: calc(100vh - 60px);
    margin: auto;
    align-items: start;
}

.scrollable-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 5px;
    max-width: 100%;
}

.image-cell {
    flex: 0 0 calc(25% - 10px);
    box-sizing: border-box;
    text-align: center;
    padding: 10px;
}

.rounded-image {
    width: 80%;
    border-radius: 10%;
}

.myGroupName{
    margin-top: 2%;
    color: rgb(25, 150, 114);
}


.profile-button-container, .profile-button-container-sure{
    height: 30px;
    width: 70px;
    display:flex;
    justify-content:center;
    align-items:center;
    border-bottom: solid 2px;
    background-color:white;
    position: relative;
    border-radius: 15px;
    left: 50%; /* Position it 50% from the left */
    transform: translate(-50%, -50%);
}

.profile-button-container button{
    background-color:transparent;
    border:none;
    padding: 2px;
}

.profile-button-icon, .profile-button-icon-watch{
    width: 20px;
    height: 20px;
    background-size: cover;
    margin-right: 6px;
    vertical-align: middle;
    cursor: pointer;
}

.checked-heart{
    display: none;
}

.unchecked-heart{
    display: none;
}

.profile-button-icon-watch{
    width: 25px;
    height: 25px;
}

/*PROFILE MODAL*/
.profile-modal-background{
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    overflow-x: scroll;
    display: none;
}

.profile-modal{
    position: relative;
    background-color: #fefefe;
    margin: auto;
    margin-top: 5%;
    padding: 10px;
    border: 1px solid #888;
    border-radius: 25px;
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: row;
    /*align-items: center;*/
    justify-content: center;
    overflow-y: scroll;
    overflow-x: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    position: relative;
}

.profile-modal::-webkit-scrollbar{
    width: 0;
    background: transparent;
}

.close-profile-modal{
    color: #aaaaaa;
    float: left;
    font-size: 28px;
    font-weight: bold;
    margin-top: 5px;
    margin-right: 20px;
    margin-left: auto;
    position: absolute;
    align-self: flex-end;
    top: 15px;
    right: 10px;
}

.close-profile-modal:hover,
.close-profile-modal:focus{
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.profile-modal-left-box{
    width: 30%;
    padding: 10px;
    display: flex;
    margin-top: 10%;
    flex-direction: column;
    align-items: center;
}

.profile-modal-right-box{
    width: 70%;
    text-align: start;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    flex: 1;
    overflow-y: auto;
}

.profile-modal-right-box::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

/*.favorite-button {*/
/*    width: 100%;*/
/*    display: inline-flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    border: none;*/
/*    background-color: #ffffff;*/
/*    color: rgb(30, 214, 162);*/
/*    font-family: Arial, sans-serif;*/
/*    font-size: 16px;*/
/*    font-weight: bold;*/
/*    cursor: pointer;*/
/*    padding: 5%;*/
/*}*/

/*.heart-icon {*/
/*    width: 20px;*/
/*    height: 20px;*/
/*    background-size: cover;*/
/*    margin-right: 6px;*/
/*    vertical-align: middle;*/
/*    color: gray;*/
/*}*/

/*!* Hover effect *!*/
/*.favorite-button:hover {*/
/*    text-shadow: 0 0px 5px rgb(195, 255, 238);*/
/*}*/

/*.remove-button {*/
/*    width: 100%;*/
/*    display: inline-flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    border: none;*/
/*    background-color: #ffffff;*/
/*    color:  rgb(234, 80, 80);*/
/*    font-family: Arial, sans-serif;*/
/*    font-size: 16px;*/
/*    font-weight: bold;*/
/*    cursor: pointer;*/
/*    padding: 5%;*/
/*}*/

/*.remove-icon {*/
/*    width: 20px;*/
/*    height: 20px;*/
/*    background-size: cover;*/
/*    margin-right: 6px;*/
/*    vertical-align: middle;*/
/*}*/

/*!* Hover effect *!*/
/*.remove-button:hover {*/
/*    text-shadow: 0 0px 5px  rgb(250, 152, 152);*/
/*}*/

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.profile-image {
    width: 100%;
    height: 100%;
    border-radius: 5%;
}

.status-box {
    width: 80%;
    text-align: center;
    margin: 0 auto;
    padding-top: 5%;
}

.name-box {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    flex-direction: column;
}

.first-name,
.last-name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0;
    font-weight: bold;
    font-size: larger;
}

.status {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0;
    text-transform: uppercase;
    font-size: larger;
    font-weight: bold;
    color: rgb(22, 175, 132);
}

.rating, .rating-rate {
    direction: rtl;
}

.rating input[type="radio"] {
    display: none;
}

.rating-rate input[type="radio"] {
    display: none;
}

.rating label, .rating-rate label {
    display: inline-block;
    font-size: 1.8rem;
    color: gray;
    cursor: pointer;
    transition: color 0.2s;
}


.rating input[type="radio"]:checked~label {
    color: gold;
}

.rating-rate input[type="radio"]:checked~label {
    color: gold;
}

.rating-text {
    text-align: center;
    margin-top: 5px;
}

.section {
    max-width: 100%;
    background: rgb(255, 255, 255);
    padding: 20px;
    margin: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}



h2 {
    font-size: 24px;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.divider {
    width: 100%;
    height: 2px;
    background-color: #000000;
    margin-bottom: 20px;
}

.topic-tag-profile{
    display: inline-block;
    color: rgb(255, 255, 255);
    background-color: rgb(22, 175, 132);
    border-radius: 100px;
    padding: 6px;
    border: none;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 2%;
    text-align: center;
}

.detail-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.detail-label {
    width: 150px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.detail-value {
    display: inline-block;
    flex: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.detail-value+.detail-value {
    margin-left: 5px;
}

.text-box-container {
    display: flex;
    flex: 1;
    overflow: hidden;
}

.name-box {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.table-container{
    padding-bottom:2%;
}

@media screen and (max-width: 768px) {
    .image-cell {
        flex: 0 0 calc(33.333% - 10px);
    }
}

@media screen and (max-width: 480px) {
    .image-cell {
        flex: 0 0 calc(50% - 10px);
    }
}

@media screen and (max-width: 1000px) {
    .search-button {
        display: flex;
    }
}

@media (max-width: 800px) {
    .profile-modal{
        flex-direction: column;
        height: 87%;
        overflow: auto;
        justify-content: start;
    }

    .profile-modal-left-box {
        padding-top: 2%;
        padding-bottom: 2%;
        box-sizing: border-box;
        height:100%;
        width: 100%;
        overflow-y: unset;
    }

    .profile-modal-right-box {
        display:flex;
        width: 100%;
        overflow-y: unset;
        padding: 0;
    }

    .profile-image{
        max-width: 85%;
    }

    .section{
        margin: 0;
        box-shadow: none;
    }

    .detail-row{
        margin-left:0;
        align-items:start;
    }

    .table-container{
        padding-bottom:5%;
    }

}

@media screen and (max-width: 600px) {
    .left-search-box{
        height: fit-content;
        width: 100%;
        border-radius: 0px;
        order: -1;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        padding-left: 0;
    }

    .right-search-box{
        height: fit-content;
        width: 100%;
        border-radius: 0px;
    }

    .large-search-box{
        display: flex;
        align-items: start;
        flex-direction: column;
        justify-content: start;
        padding-left: 0;
    }

    .cancel-button{
        display: flex;
    }

    .button-box {
        padding: 10px;
        margin-bottom: 0%;
    }

    .search-content {
        margin-top: 0;
    }
}

@media (max-width: 600px) {
    .info-tooltip {
        position: absolute;
        color: white;
        right: 75px;
        top: 40px;
    }

    .detail-row {
        flex-direction: column;
    }
    .dropdown-content-myGroup {
        max-height: 520%;
    }
    .dropdown-myGroup:hover .dropdown-content-myGroup {
        display: block;
        transform: translateY(-4%);
    }
}

@media (max-width: 600px) {

}


.highlight {
    background-color: #FFCCCC;
}

.rating {
    direction: rtl;
}

.rating input[type="radio"] {
    display: none;
}

.rating label {
    display: inline-block;
    font-size: 1rem;
    color: gray;
    cursor: pointer;
    transition: color 0.2s;
    padding-bottom: 2.5%;
}

.rating.modal-rating-star label {
    display: inline-block;
    font-size: 1.6rem;
    color: gray;
    cursor: pointer;
    transition: color 0.2s;
    padding-bottom: 2.5%;
}

.rating-text {
    text-align: center;
    margin-top: 5px;
}

#information-box {
    width: 80%;
    margin: 0 auto; /* KÃ¶zÃ©pre igazÃ­tÃ¡s */
    text-align: center;
}

#information-box div {
    padding: 20px;
    /* border-radius: 5px; */
}

#rating-button{
    color: rgb(255, 255, 255);
    background-color: rgb(40, 152, 200);
    border-radius: 15px;
    max-width: 120px;
    min-width: 100px;
    cursor: pointer;
    padding: 10px;
    border: none;
    text-overflow: ellipsis;
    height: 40px;
    font-weight:bold;
    font-size: 1em;
    margin:5px;
}

#comment-button{
    color: rgb(255, 255, 255);
    background-color: rgb(40, 152, 200);
    border-radius: 15px;
    max-width: 120px;
    min-width: 100px;
    cursor: pointer;
    padding: 10px;
    border: none;
    text-overflow: ellipsis;
    height: 40px;
    font-weight:bold;
    font-size: 1em;
    margin:5px;
}

.interaction-buttons{
    flex-direction: column;
}

#save-rating{
    color: rgb(255, 255, 255);
    background-color: rgb(50, 189, 149);
    border-radius: 10px;
    width: 70px;
    max-width: 55%;
    cursor: pointer;
    border: none;
    height: 30px;
    text-align: center;
    justify-content: center;

}

#cancel-rating{
    color: rgb(255, 255, 255);
    background-color: rgb(238, 84, 76);
    border-radius: 10px;
    width: 70px;
    max-width: 55%;
    cursor: pointer;
    border: none;
    height: 30px;
    text-align: center;
    justify-content: center;
}

#commentInput {
    display: block;
    margin:0 auto;
    resize: none;
    height: 75px;
    min-width: 70%;
    max-width: 100%;
    border-radius: 20px;
    padding: 5px;
    overflow: hidden;
    overflow-y: auto;  /* Enable vertical scrolling when the content exceeds the height */
    margin-bottom: 10px;
    margin-top: 10px;
    /* Style scrollbar for WebKit browsers (Chrome, Safari) */
    scrollbar-color: transparent transparent; /* thumb and track color */
    scrollbar-width: thin; /* width of the scrollbar */
}

/* Style scrollbar for Firefox */
#commentInput::-webkit-scrollbar {
    width: 6px; /* width of the scrollbar */
}

#commentInput::-webkit-scrollbar-thumb {
    background-color: transparent; /* color of the thumb */
}

.comment-rating {
    direction: rtl;
    text-align: center;
    height: 20px;
    margin-left: 10px;
    display: flex;
    flex-direction:row !important;
    margin: 0;
}

.comment-rating label {
    color: gray;
    cursor: pointer;
    transition: color 0.2s;
    display: inline;
    font-size: 1rem;
    margin-top: 10px;/* Adjust the margin as needed */
}

.comment-rating input {
    display: none; /* Hide the radio buttons */
}

.comment-label-date{
    padding-top: 10px !important;
    font-size: 14px;
    font-style:italic;
}

.comment-rating input[type="radio"] {
    display: none;
}

.comment-row{
    display: flex;
    flex-direction:column;
    text-align:center;
}

.comment-label-text {
    margin-top: -5px;
}

.nav-arrows {
    display: flex;
    justify-content: flex-end; /* Align items along the main axis to the end (right) */
    align-items: flex-end; /* Align items along the cross axis to the end (bottom) */
}

.navigate-button{
    color: rgb(255, 255, 255);
    background-color: rgb(40, 152, 200);
    border-radius: 15px;
    min-width: 50px;
    cursor: pointer;
    padding: 4px;
    border: none;
    text-overflow: ellipsis;
    font-size: 15px;
    font-weight:bold;
    margin:5px;
}

.comment-infos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comment-profile-image{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin-bottom:5px;
}

.comment-section{
    display:flex;
    flex-direction: row;
}

.comment-content{
    padding-left: 15px;
}

.comment-label,
.comment-label-date,
.comment-rating {
    margin: 0; /* Remove margin */
    padding: 0; /* Remove padding */
}

@media (max-width: 800px) {
    .comment-row{
        flex-direction:row;
        justify-content: center;
        margin-bottom:10px;
    }

    .comment-infos{
        align-items: flex-start;
        margin-left: 20px;
        margin-top: 10px;
    }

    .comment-section{
        display:flex;
        flex-direction: column;
    }

    .comment-profile-image{
        width:85px;
        height: 85px;
    }
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

/* Style the modal content */
.loading-modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 100px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.checkmark-button-profile {
    width: 20px;
    height: 21px;
    background: transparent;
    vertical-align: middle;
    cursor: pointer;
    border:none;
    margin-right: 10px;
}

.cancel-button-profile{
    width: 20px;
    height: 21px;
    background: transparent;
    vertical-align: middle;
    cursor: pointer;
    border:none;
    margin-right: 12px;
}

.profile-button-icon-sure{
    height: 18px;
    width: 18px
}

.smaller-div {
    min-width: 50px;
    max-width: 150px;
    display: flex;
}

.main-div {
    margin:2%;
    width:90%;
    border: 4px solid rgb(22, 175, 132);
    border-radius: 25px;
    flex-direction: column;
    display: flex;
    text-align: center;
    align-items: center;
    transition: all 0.3s ease;
    z-index: 1; /* Initial z-index value */
    opacity:60%;
    padding: 20px;
}

.main-div:hover {
    transform: scale(1.1); /* Scale by 110% on hover */
    box-shadow: 0 0 20px rgba(22, 175, 132, 0.8); /* Add a glow effect */
    z-index: 2; /* Increase z-index on hover to make it overlap */
    margin-top:20px;
    margin-bottom: 20px;
    opacity: 100%;
}

.small-div-image{
    max-width:100%;
    border: 4px solid rgb(22, 175, 132);
    border-radius: 25px;

}

.mygroup-pics{
    display: flex;
    margin: 0 auto;
    align-items: center;
}

.main-div p{
    margin-top: 0px;
    margin-bottom: 0px;
}