@font-face {
    font-family:'CustomFont';
    src: url('../fonts/roundfont.ttf') format('truetype')}

.profile-container::-webkit-scrollbar {
        width: 0;
        background: transparent;
    }

body{
    font-family: 'CustomFont';
    align-items: center;
    justify-content: center;
}

.profile-container{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color:rgb(255, 255, 255);
  min-height: 100vh;
  overflow: auto;
  margin-left: 5%;
}

.profile-left {
    text-align: center;
    justify-content: center !important;
    align-items: center !important;
    width: 35%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column; 
}

.image-container {
    position: relative;
    display: inline-block;
  }
  
  .profile-image {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 5%;
  }
  
  .change-icon {
    width: 20%;
    height: 20%;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(0%, 0%);
    background-color: transparent;
    padding: 2px;
    border-radius: 10%;
    cursor: pointer;
    display: flex; 
    justify-content: center;
    align-items: center; 
    opacity: 0.5;
  }
  
  #change-image-icon img {
    width: 75%;
    height: 75%;
  }
  
  #change-image-icon:hover {
    opacity: 1;
  }

  .status-box {
    width: 80%;
    padding: 10px;
    text-align: center;
    margin: 0 auto;
}

.name-box {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    flex-direction: column;
}

.first-name, .last-name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0; 
    font-weight: bold;
    font-size: larger;
}

.status {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0;
    text-transform: uppercase; 
    font-size: larger;
    font-weight: bold;
    color: green;
}

.rating {
  direction: rtl;
}

.rating input[type="radio"] {
  display: none;
}

.rating label {
  display: inline-block;
  font-size: 1.8rem;
  color: gray;
  cursor: pointer;
  transition: color 0.2s;
}

.rating label:hover,
.rating input[type="radio"]:checked ~ label {
  color: gold;
}

.rating-text {
  text-align: center;
  margin-top: 5px;
}

.profile-right{
    text-align: start;
    padding: 3%;
    width: 80%;
    background-color: rgb(255, 255, 255);
    flex: 1;
}

.edit-button {
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
  cursor: pointer;
  margin-bottom: 1px;
}


.edit-button img {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-left: 10px;
  margin-left: auto;
}

.section {
    max-width: 100%;
    background:rgb(255, 255, 255);
    padding: 20px;
    margin: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    font-size: 24px;
    margin: 0;
    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
  
  .divider {
    width: 100%;
    height: 2px;
    background-color: #000000;
    margin-bottom: 20px;
  }
  
  .detail-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .detail-label {
    width: 150px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
.detail-value {
  display: inline-block; 
  flex: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.detail-value + .detail-value {
  margin-left: 5px;
}

    @media (max-width: 1000px) {
      .profile-container {
        display: flex;
        flex-direction: column;
      }
    
      .profile-right,
      .profile-left {
        padding: 3%;
        width: 90%;
        background-color: rgb(255, 255, 255);
        box-sizing: border-box;
        margin-right: 5%;
      }

      .profile-left{
        padding: 3%;
        max-width: 65%;
        background-color: rgb(255, 255, 255);
    } }
    
    
    
    
    