<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SapiMentor</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}">
  <link rel="preload" th:href="@{/css/diplomaTheses.css}" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" th:href="@{/css/diplomaTheses.css}"></noscript>
  <link rel="stylesheet" type="text/css" th:href="@{/css/diplomaTheses.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/languages.css}">
  <script th:src="@{/js/localThemeSettings.js}"></script>
  <link rel="icon" th:href="@{/img/mini_logo.png}" type="image/x-icon">
  <link rel="shortcut icon" th:href="@{/img/mini_logo.png}" type="image/x-icon">
</head>

<body class="diploma-page">
<div id="preloader"> </div>

<div class="taskbar">
    <a href="/" th:href="@{/profile}">

      <div class="user-img-container">
      <img th:if="${profileImageBase64 != ''}"
           th:src="@{|data:image/jpeg;base64,${profileImageBase64}|}"
           alt="Profile Image" class="menu-icon rounded-icon-top"
           th:async="async"
           th:attr="data-cache='no-cache'">
      <img th:unless="${profileImageBase64 != ''}"
           th:src="@{/img/anonym.jpg}" alt="Profile Image" class="menu-icon rounded-icon">
        <span class="nbr-msg hiddenMsg toMessenger-btn"></span>
      </div>
      <span class="username-container" th:text="${userRegistrationDetails.firstName + ' ' + userRegistrationDetails.lastName}"></span> </a> </p>
    <img th:src="@{/img/back.png}" alt="Icon" class="back-icon green-button" onclick="toggleDivs()"> </p>
</div>

<div class="center" th:id="'userIdForDiplomaThesesPage-' + ${diplomathesesUserId}">
  <div class="left hidden">
    <div class="center-image">
      <img th:src="@{/img/white.png}" id="sapimentor-logo" alt="image">
    </div>

    <div class="form-group form-group-profile menu-function-profile">
        <a href="/" th:href="@{/profile}">
          <div class="user-img-container">
          <img th:if="${profileImageBase64 != ''}"
               th:src="@{|data:image/jpeg;base64,${profileImageBase64}|}"
               alt="Profile Image" class="menu-icon rounded-icon"
               th:async="async"
               th:attr="data-cache='no-cache'">
          <img th:unless="${profileImageBase64 != ''}"
               th:src="@{/img/anonym.jpg}" alt="Profile Image" class="menu-icon rounded-icon">
          <span class="nbr-msg hiddenMsg toMessenger-btn"></span>
    </div>
          <span class="username-container" th:text="${userRegistrationDetails.firstName + ' ' + userRegistrationDetails.lastName}"></span> </a>
    </div>

    <div class="menu-divider"></div>
    <div class="form-group">
      <p class="menu-function">
        <a href="/" th:href="@{/}"> <img th:src="@{/img/home.png}" alt="Icon" class="menu-icon">
          <span class="english-text">Home</span>
          <span class="hungarian-text">Főoldal</span>
        </a></p>
    </div>
    <div class="form-group" >
      <p class="menu-function">
        <a th:onclick="${not userRolesToDisplayResources.contains('MENTOR') and not userRolesToDisplayResources.contains('MENTEE')} ? 'notMenteeOrMentor()' : 'redirectToMyGroup()'"> <img th:src="@{/img/myGroup.png}" alt="Icon" class="menu-icon">
          <span class="english-text">My Group</span>
          <span class="hungarian-text">Csoportom</span>
        </a>
      </p>
    </div>

    <div class="form-group" th:if="${userRolesToDisplayResources.contains('ADMIN')}">
      <p class="menu-function">
        <a href="/" th:href="@{/users}"> <img th:src="@{/img/users.png}" alt="Icon" class="menu-icon">
          <span class="english-text">Users</span>
          <span class="hungarian-text">Felhasználók</span>
        </a> </p>
    </div>

    <div class="form-group">
      <p class="menu-function">
        <a href="/" th:href="@{/topics}"> <img th:src="@{/img/topics.png}" alt="Icon" class="menu-icon">
          <span class="english-text">Topics</span>
          <span class="hungarian-text">Témák</span>
        </a>
      </p>
    </div>
    <div class="form-group current-page">
      <p class="menu-function">
        <a href="/" th:href="@{/resources}"> <img th:src="@{/img/current-page-icon.png}" alt="Icon" class="menu-icon current-menu-icon"> <img th:src="@{/img/resource.png}" alt="Icon" class="menu-icon">
          <span class="english-text">Resources</span>
          <span class="hungarian-text">Segédanyagok</span>
        </a>
      </p>
    </div>
    <div class="form-group">
      <p class="menu-function">
        <a href="/" th:href="@{/settings}"> <img th:src="@{/img/settings.png}" alt="Icon" class="menu-icon">
          <span class="english-text">Settings</span>
          <span class="hungarian-text">Beállítások</span>
        </a>
      </p>
    </div>

    <div class="form-group">
      <p class="menu-function">
        <a href="/logout"  > <img th:src="@{/img/logout.png}" alt="Icon" class="menu-icon">
          <span class="english-text">Logout</span>
          <span class="hungarian-text">Kijelentkezés</span>
        </a> </p>
    </div>
  </div>

  <div class="right show" id="right-content">
    <!-- MENU BAR START-->
    <div class="resource-menu">
      <div class="button-container">
        <button id="resources">
          <span class="english-text">LINKS</span>
          <span class="hungarian-text">LINKEK</span>
        </button>
        <button id="examExamples">
          <span class="english-text">EXAMS</span>
          <span class="hungarian-text">VIZSGATÉTELEK</span>
        </button>
        <button class="selected"> <img th:src="@{/img/house-icon.png}" alt="Icon" class="menu-icon current-page-icon">
          <span class="english-text">DIPLOMA THESES</span>
          <span class="hungarian-text">DIPLOMA DOLGOZATOK</span>
        </button>
      </div>

      <div class="dropdown">
        <button class="dropbtn"> <img th:src="@{/img/house-icon.png}" alt="Icon" class="menu-icon current-page-icon">
          <span class="english-text">DIPLOMA THESES</span>
          <span class="hungarian-text">DIPLOMA DOLGOZATOK</span>
        </button>
        <div class="dropdown-content">
          <a id="resourcesDrop">
            <span class="english-text">LINKS</span>
            <span class="hungarian-text">LINKEK</span>
          </a>
          <a id="examExamplesDrop">
            <span class="english-text">EXAMS</span>
            <span class="hungarian-text">VIZSGATÉTELEK</span>
          </a>
        </div>
      </div>
    </div>
    <!-- MENU BAR END-->

    <!-- SEARCH BUTTON BAR START-->
    <div class="open-search-buttons">
      <button class="search-button green-button" id="myFilterBtn" onclick="showFilterContainer()">
        <span class="english-text">Search</span>
        <span class="hungarian-text">Keresés</span>
      </button>
      <button type="button" id="upload-hidden" class="btn btn-success blue-button" th:if="${userRolesToDisplayResources.contains('MENTOR') or userRolesToDisplayResources.contains('MENTEE') or userRolesToDisplayResources.contains('ADMIN')}">
        <img th:src="@{/img/uploadimg.png}" alt="Icon" class="menu-icon"></button>
    </div>
    <!-- SEARCH BUTTON BAR END-->

    <!-- FILTER BAR START-->
    <div class="filter-container">
      <div class="filter-ddowns">
        <span class="info-icon-btn" onclick="openInfoModal()">ⓘ</span>
        <!-- The Modal -->
        <div id="infoModal" class="info-modal">
          <!-- Modal content -->
          <div class="info-modal-content">
            <span class="close-info-modal" onclick="closeInfoModal()">&times;</span>
              <div class="left-content">
                <p id="diploma-info-1">
                  <span class="english-text">On this page, you can view the diploma theses uploaded by your peers. Get inspired and browse through different theses.</span>
                  <span class="hungarian-text">Ezen az oldalon megtekintheted a társaid által feltöltött diploma dolgozatokat. Inspirálódj és nézz körül a különböző munkák között.</span>
                </p>
                <p id="diploma-info-2" style="display: none;">
                  <span class="english-text">Utilize the search functionality! Search by name and topics, or check the keyword search and make use of our AI-powered search with keywords.</span>
                  <span class="hungarian-text">Vedd igénybe a keresés funkciót! Keress név és téma alapján vagy vedd igénybe a mesterséges intelligenciát felhasználó kulcsszavas keresést! </span>
                </p>
                <p id="diploma-info-3" style="display: none;">
                  <span class="english-text">Help your peers and be a contributor. Whether you are a MENTOR or MENTEE, you can upload your diploma theses, thereby aiding the learning of others.</span>
                  <span class="hungarian-text">Segítsd társaidat és járulj hozzá a diploma dolgozatok feltöltéséhez. Amennyiben MENTOR vagy MENTORÁLT a szerepköröd, lehetőséget van a feltöltésre.</span>
                </p>
                <p id="diploma-info-4" style="display: none;">
                  <span class="english-text">Evaluate your peers' uploads, providing easier visibility for those who visit here!</span>
                  <span class="hungarian-text">Értékeld a feltöltéseket, hogy a legjobb dolgozatok ne maradjanak észrevétlenek!</span>
                </p>
                <img th:src="@{/img/info-monster3.jpg}" alt="Thesis Image" class="info-image">
              </div>
              <div class="pagination">
                <button onclick="prevInfoPage()" class="navigate-button blue-button"> ←</button>
                <button onclick="nextInfoPage()" class="navigate-button blue-button"> →</button>
              </div>
            </div>
        </div>

        <div class="input-container">
        <input type="text" class="filter-input" id="filter-input" placeholder="Search by Name..." required>
        <div id="suggestion-list"></div>
        </div>

        <div class="tag-box"><p class="tag-box-text">
          <span class="english-text">KEYWORD<br>SEARCH</span>
          <span class="hungarian-text">KULCSSZAVAS<br>KERESÉS</span>
        </p>
        <div class="checkbox-container">
        <label class="container-checkbox-diplomaTags">
        <input type="checkbox" class="tags-checkbox">
        <span class="checkmark-diplomaTags"></span> </label>
        </div>
        </div>

      </div>
      <div class="topic-dropdown-container">
        <div class="topic-dropdown">
          <button class="topic-dropbtn" onclick="toggleDiplomaDropdown()">
            <span class="english-text">Choose topics</span>
            <span class="hungarian-text">Válassz témákat</span>
          </button>
          <div class="topic-checkboxes" id="topic-myCheckboxes">
            <label th:each="topic : ${topics}">
              <input type="checkbox" th:value="${topic.topic}" th:id="${'checkbox-' + topic}" checked>
              <span th:text="${topic.topic}"></span>
            </label>
          </div>
        </div>
      </div>
      <div class="func-buttons">
        <button class="search-button green-button" id="search-button">
          <span class="english-text">Search</span>
          <span class="hungarian-text">Keresés</span>
        </button>
        <button class="cancel-button red-button" onclick="cancelFilterWindow()">
          <span class="english-text">Cancel</span>
          <span class="hungarian-text">Mégse</span>
        </button>
        <button type="button" class="upload-hidden btn btn-success blue-button" id="upload-upload" th:if="${userRolesToDisplayResources.contains('MENTOR') or userRolesToDisplayResources.contains('MENTEE') or userRolesToDisplayResources.contains('ADMIN')  or userRolesToDisplayResources.contains('GUEST')}">
          <img th:src="@{/img/uploadimg.png}" alt="Icon" class="menu-icon"></button>
      </div>
    </div>
    <div class="divider"></div>
    <!-- FILTER BAR END-->

    <!-- LINK TABLE START -->
    <!-- LINK TABLE START -->
    <div class="table-container" id="table-container">
      <table class="link-table" id="dataTable">
        <thead id="link-table-head">
        <tr>
          <th class="table-number sortable">NR</th>
          <th class="table-link sortable" data-column="name">
            <span class="english-text">Name</span>
            <span class="hungarian-text">Név</span></th>
          <th class="table-abstract sortable" data-column="name">
            <span class="english-text">Abstract</span>
            <span class="hungarian-text">Kivonat</span></th>
          <th class="table-number sortable" data-column="year">
            <span class="english-text">Year</span>
            <span class="hungarian-text">Év</span>
          </th>
          <th class="table-topic sortable" data-column="topic">
            <span class="english-text">Topic</span>
            <span class="hungarian-text">Téma</span></th>
          <th class="table-user sortable" data-column="user">
            <span class="english-text">User</span>
            <span class="hungarian-text">Feltöltő</span>
          </th>
          <th class="table-likes sortable" data-column="likes">
            <span class="english-text">Likes</span>
            <span class="hungarian-text">Értékelések</span>
          </th>
          <th class="table-actions">
            <span class="english-text">Actions</span>
            <span class="hungarian-text">Lehetőségek</span>
          </th>
          <th class="table-tags sortable" data-column="tags" style="display: none;">Tags</th>
        </tr>
        </thead>
        <tbody id="link-table-body">
          <tr th:each="diploma, stat : ${diplomaThesesData}" th:id="'diploma-row-' + ${diploma.id}">
            <td th:text="${stat.index + 1}"></td>

            <td class="pdf-container-column">
              <div class="pdf-image-image-container">
                <span th:text="${diploma.name}" th:onclick="${not userRolesToDisplayResources.contains('GUEST')} ? 'getDiplomaId(' + ${diploma.id} + ')' : ''"></span>
                <span id="zoomIcon" class="zoom-icon" th:if="${not userRolesToDisplayResources.contains('GUEST')}" th:onclick="'getDiplomaId(' + ${diploma.id} + ')'">&#128269;</span>
                <span id="modifyIcon" class="zoom-icon" th:onclick="'setupModifyDiplomaThesesModal(' + ${diploma.id} + ')'"
                      th:if="${diplomathesesUserId == diploma.user_id or userRolesToDisplayResources.contains('ADMIN') or userRolesToDisplayResources.contains('GUEST')}">&#9999;&#65039;</span>
                <span id="deleteIcon" class="zoom-icon" th:onclick="'setupDeleteDiplomaThesesModal(' + ${diploma.id} + ')'"
                      th:if="${diplomathesesUserId == diploma.user_id or userRolesToDisplayResources.contains('ADMIN') or userRolesToDisplayResources.contains('GUEST')}">🗑️</span>

                <div class="pdf-image-modal" th:id="'myModal-' + ${diploma.id}">
                  <span class="close-pdf-modal-btn" th:id="'closeModalBtn-' + ${diploma.id}">&times;</span>
                  <!--                  <embed th:id="'modalPDF-' + ${diploma.id}" th:alt="${diploma.name}" class="pdf-image-modal-content"  type='application/pdf'>-->
                  <iframe th:id="'modalPDF-' + ${diploma.id}" th:alt="${diploma.name}" class="pdf-image-modal-content" ></iframe>
                  <a th:id="'modalPDFMobile-' + ${diploma.id}" th:alt="${diploma.name}" ></a>
                </div>
              </div>
            </td>

            <td class="abstract-container-column english-text">
              <div class="pdf-image-image-container">
                <span th:text="${'Abstract'}" th:onclick="'getDiplomaEnAbstractId(' + ${diploma.id} + ')'"></span>
                <span class="zoom-icon" th:onclick="'getDiplomaEnAbstractId(' + ${diploma.id} + ')'">📄</span>
                <div class="pdf-image-modal" th:id="'myEnAbstractModal-' + ${diploma.id}">
                  <span class="close-pdf-modal-btn" th:id="'closeEnModalBtn-' + ${diploma.id}">&times;</span>
                  <iframe th:id="'modalEnPDF-' + ${diploma.id}" th:alt="${diploma.name}" class="pdf-image-modal-content" ></iframe>
                  <a th:id="'modalEnPDFMobile-' + ${diploma.id}" th:alt="${diploma.name}" ></a>
                </div>
              </div>
            </td>

            <td class="abstract-container-column hungarian-text">
              <div class="pdf-image-image-container">
                <span th:text="${'Kivonat'}" th:onclick="'getDiplomaHunAbstractId(' + ${diploma.id} + ')'"></span>
                <span class="zoom-icon" th:onclick="'getDiplomaHunAbstractId(' + ${diploma.id} + ')'">📄</span>
                <div class="pdf-image-modal" th:id="'myHunAbstractModal-' + ${diploma.id}">
                  <span class="close-pdf-modal-btn" th:id="'closeHunModalBtn-' + ${diploma.id}">&times;</span>
                  <iframe th:id="'modalHunPDF-' + ${diploma.id}" th:alt="${diploma.name}" class="pdf-image-modal-content" ></iframe>
                  <a th:id="'modalHunPDFMobile-' + ${diploma.id}" th:alt="${diploma.name}" ></a>
                </div>
              </div>
            </td>

            <td th:text="${diploma.year}"></td>
            <td th:text="${diploma.topic_name}"></td>
            <td th:text="${diploma.user_name}"></td>
            <td>
              <span class="like-dislike-count">
                  <span class="like-color-text like-count" id="likeButton" th:text="${diploma.like}"></span>
                  <span class="like-dislike-space"></span>
                  <span class="dislike-color-text dislike-count" id="dislikeButton" th:text="${diploma.dislike}"></span>
              </span>
            </td>
            <td>
              <button class="like-button-link green-button">
                <span class="english-text">Like</span>
                <span class="hungarian-text">Tetszik</span>
              </button>
              <button class="dislike-button-link red-button">
                <span class="english-text">Dislike</span>
                <span class="hungarian-text">Nem tetszik</span></button>
            </td>
            <td style="display: none;">
              <span id="tagWords" th:text="${diploma.keywords}"></span>
            </td>

            <!-- MODIFY MODAL START -->
            <div id="diplomaThesesModifyModal" th:id="'diplomaThesesModifyModal-' + ${diploma.id}" class="modal-diplomaTheses">
              <div class="modal-content-diplomaTheses">
                <div class="message-diploma-modal-content-container">
                  <p class="error-message-diploma-modal-content" id="error-message-diploma-modify-modal-content"></p>
                </div>

                  <div class="form-group-edit">
                    <div class="detail-row">
                      <p class="detail-label">
                        <span class="english-text">Author's name:</span>
                        <span class="hungarian-text">Szerző neve:</span></p>
                      <input type="text" class="edit-input" th:id="'diplomaTheses-edit-modify-' + ${diploma.id}" placeholder="" required
                             autofocus="autofocus" th:value="${diploma.name}" th:oninput="'validateModifiedName(\'' + ${diploma.id} + '\')'">
                      <div class="info-icon" data-tooltip="">
                        <i class="fas fa-info-circle"></i>
                      </div>
                      <div class="info-tooltip">
                        <span class="english-text">Enter an accurate name!</span>
                        <span class="hungarian-text">Valós nevet adj meg!</span></div>
                    </div>
                  </div>

                  <div class="form-group-edit">
                    <div class="detail-row">
                      <p class="detail-label">
                        <span class="english-text">Year:</span>
                        <span class="hungarian-text">Év:</span>
                      </p>
                      <input type="text" class="edit-input" th:id="'diplomaTheses-edit-year-modify-' + ${diploma.id}" placeholder="" required
                             autofocus="autofocus" th:value="${diploma.year}" th:oninput="'validateModifiedName(\'' + ${diploma.id} + '\')'">
                      <div class="info-icon" data-tooltip="">
                        <i class="fas fa-info-circle"></i>
                      </div>
                      <div class="info-tooltip">
                        <span class="english-text">Enter a valid year!</span>
                        <span class="hungarian-text">Valós évszámot adj meg!</span></div>
                    </div>
                  </div>

                  <div class="form-group-edit" id="topicDD-edit-modify">
                    <div class="detail-row">
                      <p class="detail-label">
                        <span class="english-text">Topic:</span>
                        <span class="hungarian-text">Téma:</span>
                      </p>
                      <div class="topic-dropdown-modal-modify">
                        <button class="topic-dropbtn-modal-modify" th:id="'topic-dropbtn-modal-modify-' + ${diploma.id}" th:onclick="'toggleDropdownModifyModal(\'' + ${diploma.id} + '\')' ">
                          <span class="english-text" th:text="${diploma.topic_name}"></span>
                          <span class="hungarian-text"th:text="${diploma.topic_name}" ></span>
                        </button>
                        <input type="hidden" th:id="'topic-selected-modal-modify-' + ${diploma.id}">
                        <div class="topic-dropdown-content-modify" th:id="'topic-myDropdown-modify-' + ${diploma.id}">
                          <a th:each="topic : ${topics}" th:text="${topic.topic}" href="#"
                             th:data-diploma-id="${diploma.id}"
                             th:attr="onclick='closeDropdownModifyTopics(\'' + ${diploma.id} + '\',\'' + ${topic.topic} + '\')'"></a>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="func-buttons-modal">
                    <button type="submit" class="upload-button-modal-modify blue-button" id="modify-button-modal" th:id="'modify-button-modal-' + ${diploma.id}"
                            th:onclick="'saveModifiedDiplomaThesesDataToServer(\'' + ${diploma.id} + '\')'">
                      <span class="english-text">Modify</span>
                      <span class="hungarian-text">Módosít</span>
                    </button>
                    <button class="cancel-button-modal-modify close-diplomaTheses-modify red-button" th:onclick="'closeModifyModal(\'diplomaThesesModifyModal-' + ${diploma.id} + '\')'">
                      <span class="english-text">Cancel</span>
                      <span class="hungarian-text">Mégse</span>
                    </button>
                  </div>
                </div>
              </div>
              <!-- MODIFY MODAL END -->
            <!-- DELETE MODAL START -->
            <div id="diplomaThesesDeleteModal" th:id="'diplomaThesesDeleteModal-' + ${diploma.id}" class="modal-diplomaTheses">
              <div class="modal-content-diplomaTheses">
                <br>
                <span class="english-text">Are you sure you want to delete the selected diploma thesis document?</span>
                <span class="hungarian-text">Biztos törölni szeretnéd a kiválasztott diplomadolgozat dokumentumot?</span>

                <div class="func-buttons-modal">
                  <button class="cancel-button-modal-modify close-diplomaTheses-modify green-button" id="modify-modal-delete"
                          th:onclick="'deleteDiplomaThesesData(\'' + ${diploma.id} + '\')'">
                    <span class="english-text">Yes</span>
                    <span class="hungarian-text">Igen</span>
                  </button>
                  <button class="cancel-button-modal-modify close-diplomaTheses-modify red-button" th:onclick="'closeModifyModal(\'diplomaThesesDeleteModal-' + ${diploma.id} + '\')'">
                    <span class="english-text">No</span>
                    <span class="hungarian-text">Nem</span>
                  </button>
                </div>
              </div>
            </div>
            <!-- DELETE MODAL END -->
          </tr>
        </tbody>
      </table>
    </div>
    <!-- NOTE MODAL START -->
    <div id="notificationModal" class="modal-diplomaTheses">
      <div class="modal-content-diplomaTheses">
        <br>
        <span class="english-text">The selected file cannot be opened at the moment. Please try again later!</span>
        <span class="hungarian-text">A kiválasztott fájl jelenleg nem megnyitható. Kérjük, próbáld újra később!</span>
          <button class="cancel-button-modal-modify close-diplomaTheses-modify green-button" id="note-modal-close"
                  onclick="closeNoteModal()">
            <span class="english-text">Okay</span>
            <span class="hungarian-text">Rendben</span>
          </button>
      </div>
    </div>
    <!-- DELETE MODAL END -->
    <div class="pagination-container">
      <button id="prev-page-button">
        <span class="english-text">Previous</span>
        <span class="hungarian-text">Előző</span>
      </button>
      <div id="page-counter"></div>
      <button id="next-page-button">
        <span class="english-text">Next</span>
        <span class="hungarian-text">Következő</span>
      </button>
    </div>
    <!-- LINK TABLE END -->
  </div>
  <div id="loading-modal" class="modal">
    <div class="modal-content">
      <img class="loading-gif" th:src="@{/gif/preload.gif}" alt="Loading..." />
    </div>
  </div>

  <!-- RESOURCE MODAL START -->
  <div id="diplomaThesesModal" class="modal-diplomaTheses">
    <div class="modal-content-diplomaTheses">
      <div class="message-diploma-modal-content-container">
        <p class="error-message-diploma-modal-content" id="error-message-diploma-modal-content"></p>
      </div>
      <div class="form-group-edit">
        <div class="detail-row">
          <label for="fileUpload" class="detail-label">
            <span class="english-text">Choose file:</span>
            <span class="hungarian-text">Fájl kiválasztása:</span>
          </label>
          <div class="fileUpload-row">
            <input type="file" class="edit-input" id="fileUpload" accept=".pdf" style="display: none;">
            <button type="button" class="upload-button blue-button" id="fileUploadButton">
              <span class="english-text">Select</span>
              <span class="hungarian-text">Kiválaszt</span>
            </button>
            <input type="text" class="edit-input" id="diplomaThesesFileName-edit" placeholder=".pdf" required autofocus="autofocus" readonly>
          </div> </div>
      </div>

      <div class="form-group-edit">
        <div class="detail-row">
          <p class="detail-label">
            <span class="english-text">Author's name:</span>
            <span class="hungarian-text">Szerző neve:</span></p>
          <input type="text" class="edit-input" id="diplomaTheses-edit" placeholder="" required
                 autofocus="autofocus" th:oninput="validateName()">
          <div class="info-icon" data-tooltip="">
            <i class="fas fa-info-circle"></i>
          </div>
          <div class="info-tooltip">
            <span class="english-text">Enter an accurate name!</span>
            <span class="hungarian-text">Valós nevet adj meg!</span></div>
        </div>
      </div>

      <div class="form-group-edit">
        <div class="detail-row">
          <p class="detail-label">
            <span class="english-text">Year:</span>
            <span class="hungarian-text">Év:</span>
          </p>
          <input type="text" class="edit-input" id="diplomaTheses-edit-year" placeholder="" required
                 autofocus="autofocus" oninput="validateName()">
          <div class="info-icon" data-tooltip="">
            <i class="fas fa-info-circle"></i>
          </div>
          <div class="info-tooltip">
            <span class="english-text">Enter a valid year!</span>
            <span class="hungarian-text">Valós évszámot adj meg!</span></div>
        </div>
      </div>

      <div class="form-group-edit" id="topicDD-edit">
        <div class="detail-row">
          <p class="detail-label">
            <span class="english-text">Topic:</span>
            <span class="hungarian-text">Téma:</span>
          </p>
          <div class="topic-dropdown-modal">
            <button class="topic-dropbtn-modal" onclick="toggleDropdownModal()">
              <span class="english-text">Choose a topic</span>
              <span class="hungarian-text">Válassz témát</span>
            </button>
            <input type="hidden" id="topic-selected-modal" value="Choose a topic">
            <div class="topic-dropdown-content" id="topic-myDropdown">
              <a th:each="topic : ${topics}" th:text="${topic.topic}" href="#"
                 th:attr="onclick='closeDropdownTopics(\'' + ${topic.topic} + '\')'"></a>
            </div>
          </div>
        </div>
      </div>

      <div class="func-buttons-modal">
        <button type="submit" class="upload-button-modal blue-button" id="upload-button-modal" th:onclick="saveDiplomaThesesDataToServer()" >
          <span class="english-text">Upload</span>
          <span class="hungarian-text">Feltölt</span>
        </button>
        <button class="cancel-button-modal close-diplomaTheses red-button">
          <span class="english-text">Cancel</span>
          <span class="hungarian-text">Mégse</span>
        </button>
      </div>
    </div>
  </div>
  <!-- RESOURCE MODAL END -->

</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script th:src="@{/js/diplomaTheses.js}"></script>
<script th:src="@{/js/functions.js}"></script>
<script th:src="@{/js/localLanguageSettings.js}"></script>
</body>
</html>