<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Your Password?</title>
    <link rel="stylesheet"  type="text/css" th:href="@{/css/forgotPassword.css}">

</head>
<body>
<div class="center">
    <div class="left">
    <img th:src="@{/img/student.png}" id="image" alt="image">
    </div>

    <div class="right">

        <p class="login-text">Back to <a href="/" th:href="@{/login}">Login </a></p>

        <h1 id="forgotPassword-text">Forgot your password?</h1>

        <!-- error message -->
        <div id="invalid-email" th:if="${param.error}" class="alert-danger">
            Invalid email.
        </div>
        <!-- logout message -->
        <div th:if="${param.success}" class="alert-info">
            Email sent!
        </div>

        <form th:action="@{/forgotPassword}" method="post" th:object="${user}">
            <div class="form-group">
                <input class="form-control" id="email" placeholder="Enter Email" required autofocus="autofocus">
            </div>
        </form>

        <div class="form-group">
            <button type="submit" id="send-email" class="btn btn-success">Sent Email</button>
        </div>

    </div>
</div>

</body>
</html>
