<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Your Password?</title>
    <link rel="stylesheet"  type="text/css" th:href="@{/css/forgotPassword.css}">
    <link rel="icon" th:href="@{/img/mini_logo.png}" type="image/x-icon">
    <link rel="shortcut icon" th:href="@{/img/mini_logo.png}" type="image/x-icon">

</head>
<body>
<div class="center">
    <div class="left">
    <img th:src="@{/img/student.png}" id="image" alt="image">
    </div>

    <div class="right">

        <p class="login-text">Back to <a href="/" th:href="@{/login}">Login </a></p>

        <h1 id="forgotPassword-text">Forgot your password?</h1>
        <div th:if="${param.not_found}" class="alert alert-danger">
            No user found with this email.
        </div>
        <div th:if="${param.success}" class="alert alert-info">
            We have just sent a link to your email, please check to complete your forgot password request.
        </div>

        <div id="invalid-email" th:if="${param.error}" class="alert alert-danger">
            Invalid email.
        </div>

        <div id="invalid-email-type" class="alert alert-danger">
            Incorrect email format.
        </div>
        <!-- logout message -->
<!--        <div th:if="${param.success}" class="alert-info">-->
<!--            Email sent!-->
<!--        </div>-->

        <form th:action="@{/forgot-password}" method="post" th:object="${user}">
            <div class="form-group">

                <div class="info-icon" data-tooltip="Tooltip">
                    <i class="fas fa-info-circle"></i>
                </div>

                <div class="info-tooltip-profile">Enter your valid email!</div>
                <input class="form-control" id="email" name="email" placeholder="Enter Email"
                       required autofocus="autofocus" oninput="validateEmail()">
            </div>

            <div class="form-group">
                <button type="submit" id="send-email" class="btn btn-success">Sent Email</button>
            </div>
        </form>



    </div>
</div>
<script th:src="@{/js/forgotPassword.js}"></script>
</body>
</html>
