<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SapiMentor</title>
  <link rel="stylesheet"  type="text/css" th:href="@{/css/index-home.css}">
    <link rel="icon" th:href="@{/img/mini_logo.png}" type="image/x-icon">
    <link rel="shortcut icon" th:href="@{/img/mini_logo.png}" type="image/x-icon">
</head>
<body>
<div class="taskbar">
    <p class="menu-function-top">
        <a href="/" th:href="@{/profile}">
            <img th:if="${indexImagesBase64 != ''}"
                 th:src="@{|data:image/jpeg;base64,${indexImagesBase64}|}"
                 alt="Profile Image" class="menu-icon rounded-icon-top"
                 th:async="async"
                 th:attr="data-cache='no-cache'">
            <img th:unless="${indexImagesBase64 != ''}"
                 th:src="@{/img/anonym.jpg}" alt="Profile Image" class="menu-icon rounded-icon">
            <span th:text="${userRegistrationDetails.firstName + ' ' + userRegistrationDetails.lastName}"></span> </a> </p>
    <p class="menu-function">
        <img th:src="@{/img/back.png}" alt="Icon" class="back-icon" onclick="toggleDivs()"> </p>
</div>


<div class="center">
    <div class="left hidden">
        <div class="center-image">
            <img th:src="@{/img/white.png}" id="sapimentor-logo" alt="image">
        </div>

        <div class="form-group form-group-profile">
            <p class="menu-function menu-function-profile">
                <a href="/" th:href="@{/profile}">
                    <img th:if="${indexImagesBase64 != ''}"
                         th:src="@{|data:image/jpeg;base64,${indexImagesBase64}|}"
                         alt="Profile Image" class="menu-icon rounded-icon"
                         th:async="async"
                         th:attr="data-cache='no-cache'">
                    <img th:unless="${indexImagesBase64 != ''}"
                         th:src="@{/img/anonym.jpg}" alt="Profile Image" class="menu-icon rounded-icon">
                    <span th:text="${userRegistrationDetails.firstName + ' ' + userRegistrationDetails.lastName}"></span>  </a>
        </div>

        <div class="menu-divider"></div>
        <div class="form-group" th:if="${userRolesToDisplayIndex.contains('MENTOR') or userRolesToDisplayIndex.contains('MENTEE')}">
            <p class="menu-function">
                <a href="/" th:href="@{/myGroup}"> <img th:src="@{/img/myGroup.png}" alt="Icon" class="menu-icon"> My Group</a> </p>
        </div>
        <div class="form-group">
            <p class="menu-function">
                <a href="/" th:href="@{/topics}"> <img th:src="@{/img/topics.png}" alt="Icon" class="menu-icon"> Topics</a> </p>
        </div>
        <div class="form-group">
            <p class="menu-function">
                <a href="/" th:href="@{/resources}"> <img th:src="@{/img/resource.png}" alt="Icon" class="menu-icon"> Resource</a> </p>
        </div>
        <div class="form-group">
            <p class="menu-function">
                <a href="/" th:href="@{/settings}"> <img th:src="@{/img/settings.png}" alt="Icon" class="menu-icon"> Settings</a> </p>
        </div>
        <div class="form-group">
            <p class="menu-function">
                <a href="/logout"  > <img th:src="@{/img/logout.png}" alt="Icon" class="menu-icon"> Logout</a> </p>
        </div>

    </div>

    <div class="right show" id="right-content">

        <div class="row-row">
        <div class="div-row">
        <div class="main-div">
            <div class="smaller-div"><img th:src="@{/img/helping-monster.jpg}" alt="Error Image" class="small-div-image"></div>
            <p class="index-titles">BE A MENTOR/MENTEE</p>
            <p class="index-infos">Join as a mentor and support your peers, or choose the role of a mentee and receive guidance from others! Easily adjust your status in the profile menu. Select the topics that interest you and get started on your mentoring journey...</p>
        </div>
        <div class="main-div">
            <div class="smaller-div"><img th:src="@{/img/friendly-monster.jpg}" alt="Error Image" class="small-div-image"></div>
            <p class="index-titles">MEET NEW PEOPLE</p>
            <p class="index-infos">Expand your social circle and explore the vibrant community in the My Group section. Make use of the chat function to engage with and get to know your fellow members! Foster connections, share experiences, and enhance your networking opportunities within the app.</p>
        </div>
        </div>
        <div class="div-row">
        <div class="main-div">
            <div class="smaller-div"><img th:src="@{/img/browsing-monster.jpg}" alt="Error Image" class="small-div-image"></div>
            <p class="index-titles">BROWSE IN RESOURCES</p>
            <p class="index-infos">Browse through the Resources page and take advantage of shared study materials, exam papers, and diploma theses. Support your peers by contributing your own materials. Make learning easier and collaborative!</p>
        </div>
        <div class="main-div">
            <div class="smaller-div"><img th:src="@{/img/opinion-monster.jpg}" alt="Error Image" class="small-div-image"></div>
            <p class="index-titles">GIVE YOUR OPINION</p>
            <p class="index-infos">Share your insights on topics or reflect on your mentoring journey by leaving feedback on the Topics page or on your peers' profiles. Evaluate and appreciate the contributions of your fellow members! Make your voice heard in shaping the mentoring experience for everyone.</p>
        </div>
        </div>
        </div>
        <div class="column-row">
                <div class="main-div">
                    <div class="smaller-div"><img th:src="@{/img/helping-monster.jpg}" alt="Error Image" class="small-div-image"></div>
                    <p class="index-titles">BE A MENTOR/MENTEE</p>
                    <p class="index-infos">Join as a mentor and support your peers, or choose the role of a mentee and receive guidance from others! Easily adjust your status in the profile menu. Select the topics that interest you and get started on your mentoring journey...</p>
                </div>
                <div class="main-div">
                    <div class="smaller-div"><img th:src="@{/img/friendly-monster.jpg}" alt="Error Image" class="small-div-image"></div>
                    <p class="index-titles">MEET NEW PEOPLE</p>
                    <p class="index-infos">Expand your social circle and explore the vibrant community in the My Group section. Make use of the chat function to engage with and get to know your fellow members! Foster connections, share experiences, and enhance your networking opportunities within the app.</p>
                </div>
                <div class="main-div">
                    <div class="smaller-div"><img th:src="@{/img/browsing-monster.jpg}" alt="Error Image" class="small-div-image"></div>
                    <p class="index-titles">BROWSE IN RESOURCES</p>
                    <p class="index-infos">Browse through the Resources page and take advantage of shared study materials, exam papers, and diploma theses. Support your peers by contributing your own materials. Make learning easier and collaborative!</p>
                </div>
                <div class="main-div">
                    <div class="smaller-div"><img th:src="@{/img/opinion-monster.jpg}" alt="Error Image" class="small-div-image"></div>
                    <p class="index-titles">GIVE YOUR OPINION</p>
                    <p class="index-infos">Share your insights on topics or reflect on your mentoring journey by leaving feedback on the Topics page or on your peers' profiles. Evaluate and appreciate the contributions of your fellow members! Make your voice heard in shaping the mentoring experience for everyone.</p>

            </div>
        </div>

    </div>
  </div>
  <script th:src="@{/js/functions.js}"></script>
</body>
</html>
