<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Login</title>
  <link rel="stylesheet"  type="text/css" th:href="@{/css/login.css}">

</head>
<body>
  <div class="center">
    <div class="left">
        <img th:src="@{/img/student.png}" id="image" alt="image">
    </div>

    <div class="right">

      <p class="register-text">Not a member? <a href="/" th:href="@{/register}"> Register now!</a></p>
      <h1 id="login-text">SapiMentor</h1>

      <form th:action="@{/login}" method="post">
        <!-- error message -->
        <div id="error-message" class="alert alert-danger" style="display: none;">
          Invalid email or password.
        </div>
        <div th:if="${param.error}" class="alert alert-danger">
          Invalid email or password.
        </div>
        <!-- logout message -->
        <div th:if="${param.logout}" class="alert  alert-info">
          You have been logged out.
        </div>

        <div th:if="${param.alreadyVerified}" class="alert  alert-info">
          This account has already been verified, please, login.
        </div>
        <div th:if="${param.verificationSuccess}" class="alert  alert-info">
          Email verified successfully. Now you can login to your account.
        </div>
        <div th:if="${param.verificationError}" class="alert  alert-danger">
          Invalid email verification. Please, register again.
        </div>


        <div class="form-group">
          <label for ="username"></label> <input type="text" class="form-control" id="username"
                                                 name="username" placeholder="Enter Email" autofocus="autofocus"
                                                 oninput="validateUsername()">
        </div>

        <div class="form-group">
          <label for="password"></label> <input type="password" id="password"
                                                name="password" class="form-control" placeholder="Enter Password"
                                                oninput="validatePassword()">
        </div>

        <div class="form-group">
            <p class="forgotpassword-text"> <a th:href="@{/forgotPassword}">Forgot password?</a> </p>
          </div>

        <div class="form-group">
              <input type="submit" name="login-submit" id="login-submit" value="Log In" class="form-control btn btn-primary">
        </div>
      </form>
    </div>
  </div>
  <script th:src="@{/js/login.js}"></script>
</body>
</html>
