<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="_csrf" th:content="${_csrf.token}"/>
  <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
  <title>SapiMentor</title>
  <link rel="stylesheet"  type="text/css" th:href="@{/css/index.css}">
  <link rel="stylesheet"  type="text/css" th:href="@{/css/profile.css}">
</head>
<body>

<div class="taskbar"> <p class="menu-function">
  <img th:src="@{/img/back.png}" alt="Icon" class="back-icon" onclick="toggleDivs()"> </p> </div>

<div class="center">
  <div class="left hidden">
    <h1 id="index-text">SapiMentor</h1>
    <div class="form-group">
      <p class="menu-function">
        <a href="/" th:href="@{/profile}"> <img th:src="@{/img/profile.png}" alt="Icon" class="menu-icon"> Profile</a>
    </div>
    <div class="form-group">
      <p class="menu-function">
        <a href="/" th:href="@{/myGroup}"> <img th:src="@{/img/myGroup.png}" alt="Icon" class="menu-icon"> My Group</a> </p>
    </div>
    <div class="form-group">
      <p class="menu-function">
        <a href="/" th:href="@{/topics}"> <img th:src="@{/img/topics.png}" alt="Icon" class="menu-icon"> Topics</a> </p>
    </div>
    <div class="form-group">
      <p class="menu-function">
        <a href="/" th:href="@{/resources}"> <img th:src="@{/img/resource.png}" alt="Icon" class="menu-icon"> Resource</a> </p>
    </div>
    <div class="form-group">
      <p class="menu-function">
        <a href="/" th:href="@{/settings}"> <img th:src="@{/img/settings.png}" alt="Icon" class="menu-icon"> Settings</a> </p>
    </div>
    <div class="form-group">
      <p class="menu-function">
        <a href="/logout"  > <img th:src="@{/img/logout.png}" alt="Icon" class="menu-icon"> Logout</a> </p>
    </div>

  </div>

  <div class="right show" id="right-content">

    <!-- LEFT CONTAINER START -->
    <div class="profile-container">
      <div class="profile-left">
        <div class="section-profile">
<!--          <div class="image-container">-->
<!--            <img th:src="@{/img/anonym.jpg}" alt="Profile Image" class="profile-image">-->
<!--            <div class="change-icon" id="change-image-icon">-->
<!--              <img th:src="@{/img/change.png}" alt="Change Icon">-->
<!--            </div>-->
<!--          </div>-->

          <!--/*@thymesVar id="errorMessage" type=""*/-->
          <!--A hibaüzenet megjelenítése itt-->
          <!--A regi verzioban ez nem kell-->
          <div style="color: red;">
            <p th:text="${errorMessage}"></p>
          </div>

            <!-- A kép megjelenítése itt -->
            <div class="image-container">
              <img th:if="${profileImageBase64 != ''}"
                   th:src="@{|data:image/jpeg;base64,${profileImageBase64}|}"
                   alt="Profile Image" class="profile-image"
                   th:async="async"
                   th:attr="data-cache='no-cache'">
              <img th:unless="${profileImageBase64 != ''}"
                   th:src="@{/img/anonym.jpg}" alt="Profile Image" class="profile-image">

              <div class="change-icon" id="change-image-icon">
                  <img th:src="@{/img/change.png}" alt="Change Icon">
              </div>
            </div>

            <!-- UPLOAD MODAL START -->
            <div id="uploadModal" class="modal-upload">
              <div class="modal-content-upload">
                <span class="close-upload">&times;</span>

                <div class="info-tooltip-upload"><p> 1x1 picture is recommanded. </p></div>

                <div id="error-message" class="alert alert-danger">
                  The size of the image is too large.
                </div>

                <div class="image-container">
                  <img th:if="${profileImageBase64 != ''}"
                       th:src="@{|data:image/jpeg;base64,${profileImageBase64}|}"
                       alt="Profile Image" class="profile-image"
                       id="change-profile-image"
                       th:async="async"
                       th:attr="data-cache='no-cache'">
                  <img th:unless="${profileImageBase64 != ''}"
                       th:src="@{/img/anonym.jpg}" alt="Profile Image" class="profile-image">
                </div>

                <div class="upload-buttons">

                  <div class="btn btn-success" id="upload-upload">
                    <img th:src="@{/img/uploadimg.png}" alt="Icon" class="menu-icon"> Select
                  </div>
                  <form th:action="@{/upload-profile-image}" method="post" enctype="multipart/form-data">
                    <input type="file" id="imageUpload" style="display: none;" accept="image/*" name="image">
                    <button type="submit" id="upload-save" class="btn btn-success">Upload</button>
                  </form>
                </div>
              </div>
            </div>
            <!-- UPLOAD MODAL END -->


<!--          <div class="image-container">-->
<!--            <img th:src="@{/img/anonym.jpg}" alt="Profile Image" class="profile-image">-->
<!--            <div class="change-icon" id="change-image-icon">-->
<!--              <label for="image-upload" class="upload-label">-->
<!--                <img th:src="@{/img/change.png}" alt="Change Icon">-->
<!--                <input type="file" id="image-upload" style="display:none">-->
<!--              </label>-->
<!--            </div>-->
<!--          </div>-->


          <div class="status-box">
            <div class="name-box">
              <p class="first-name" th:text="${userRegistrationDetails.firstName}"></p>
            </div>


            <div id="edit-role">
              <h2 th:text="${userRegistrationDetails.roles}" class="status"> </h2>
              <div class="edit-button">
              <button id="myMentorBtn"> <img th:src="@{/img/edit-profile.png}" alt="Edit Role" /> </button>
              </div>
            </div>


            <!-- MENTOR MODAL START -->
            <div id="mentorModal" class="modal-mentor">
              <div class="modal-content-mentor">

                <span class="close-mentor">&times;</span>
                <div class="details">
                  <div class="form-group-mentor">
                    <div class="detail-row-mentor">
                      <div class="edit-input-mentor" id="role-edit" required>
                        <label>
                          <input type="radio" name="role" value="USER" th:checked="${userRegistrationDetails.roles == 'USER'}" required>
                          <span class="checkbox-custom"></span>
                          USER
                        </label>
                        <label>
                          <input type="radio" name="role" value="MENTOR" th:checked="${userRegistrationDetails.roles == 'MENTOR'}" required>
                          <span class="checkbox-custom"></span>
                          MENTOR
                        </label>
                        <label>
                          <input type="radio" name="role" value="MENTEE" th:checked="${userRegistrationDetails.roles == 'MENTEE'}" required>
                          <span class="checkbox-custom"></span>
                          MENTEE
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
                <button type="button" id="mentor-save" class="btn btn-success">Save</button>
              </div>
            </div>
            <!-- MENTOR MODAL END -->


            <div class="rating">
              <input type="radio" id="star5" name="rating" value="5" />
              <label for="star5">&#9733;</label>
              <input type="radio" id="star4" name="rating" value="4" />
              <label for="star4">&#9733;</label>
              <input type="radio" id="star3" name="rating" value="3" />
              <label for="star3">&#9733;</label>
              <input type="radio" id="star2" name="rating" value="2" />
              <label for="star2">&#9733;</label>
              <input type="radio" id="star1" name="rating" value="1" />
              <label for="star1">&#9733;</label>
            </div>

            <div class="rating-text">
              <span id="rating-number">100</span> Ratings
            </div>
          </div>
        </div>
      </div>
      <!-- LEFT CONTAINER END  -->
      <!-- RIGHT CONTAINER  START -->
      <div class="profile-right">
        <!-- ABOUT CONTAINER  START -->
        <div class="section">
          <h2>ABOUT
            <div class="edit-button">
              <button id="myBtn"> <img th:src="@{/img/edit-profile.png}" alt="Edit Profile" /> </button>
            </div>
          </h2>

          <!-- ABOUT MODAL START -->
          <div id="myModal" class="modal">
            <form id="edit-form" th:action="@{/profile/save}" method="post">
            <div class="modal-content">
              <span class="close">&times;</span>
              <div class="details">

                <div class="form-group-edit">
                  <div class="detail-row">
                    <p class="detail-label">First Name:</p>
                    <input type="text" class="edit-input" id="firstName-edit" placeholder="" name="firstName"
                           required autofocus="autofocus" oninput="validateFirstName()" th:value="${userRegistrationDetails.firstName}">
                    <div class="info-icon" data-tooltip="Tooltip text for First Name">
                      <i class="fas fa-info-circle"></i>
                    </div>
                    <div class="info-tooltip">Enter your real name!</div>
                  </div> </div>

                <div class="form-group-edit">
                  <div class="detail-row">
                    <p class="detail-label">Last Name:</p>
                    <input type="text" class="edit-input" id="lastName-edit" placeholder="" name="lastName"
                           required autofocus="autofocus" oninput="validateLastName()" th:value="${userRegistrationDetails.lastName}">
                    <div class="info-icon" data-tooltip="Tooltip text for Last Name">
                      <i class="fas fa-info-circle"></i>
                    </div>
                    <div class="info-tooltip">Enter your real name!</div>
                  </div> </div>

                <div class="form-group-edit">
                  <div class="detail-row">
                    <p class="detail-label">Specialization:</p>
                    <input type="text" class="edit-input" id="specialization-edit" placeholder="ex: Software Engineering" name="specialization"
                           required autofocus="autofocus" oninput="validateSpecialization()" th:value="${userRegistrationDetails.specialization ?: ''}">
                    <div class="info-icon" data-tooltip="Tooltip text for First Name">
                      <i class="fas fa-info-circle"></i>
                    </div>
                    <div class="info-tooltip">Enter your specialization!</div>
                  </div> </div>

                <div class="form-group-edit">
                  <div class="detail-row">
                    <p class="detail-label">Year:</p>
                    <input type="number" class="edit-input" id="year-edit" placeholder="ex: 3" name="year"
                           required autofocus="autofocus" oninput="validateYear()" th:value="${userRegistrationDetails.year ?: ''}">
                    <div class="info-icon" data-tooltip="Tooltip text for First Name">
                      <i class="fas fa-info-circle"></i>
                    </div>
                    <div class="info-tooltip">Only 1-4 year is accepted!</div>
                  </div> </div>

                <div class="form-group-edit">
                  <div class="detail-row">
                    <p class="detail-label">Phone:</p>
                    <input type="tel" class="edit-input" id="phone-edit" placeholder="ex: 0734155510" name="phoneNumber"
                           required autofocus="autofocus" oninput="validatePhone()" th:value="${userRegistrationDetails.phoneNumber ?: ''}">
                    <div class="info-icon" data-tooltip="Tooltip text for First Name">
                      <i class="fas fa-info-circle"></i>
                    </div>
                    <div class="info-tooltip">Enter your 10 digit phone number!</div>
                  </div> </div>
              </div>
              <button type="submit" id="edit-save" class="btn btn-success">Save</button>
            </div>
            </form>
            <div id="whitespace"> </div>
          </div>
          <!-- ABOUT MODAL END -->


          <!-- ABOUT INFO START -->
          <div class="divider"></div>
          <div class="details">
            <div class="detail-row">
              <p class="detail-label">Name:</p>
              <p class="detail-value" th:text="${userRegistrationDetails.firstName}"></p>
              <p class="detail-value" th:text="${userRegistrationDetails.lastName}"></p>
            </div>
            <div class="detail-row">
              <p class="detail-label">Specialization:</p>
              <p th:text="${userRegistrationDetails.specialization ?: 'ex: Software Engineering'}"></p>
            </div>
            <div class="detail-row">
              <p class="detail-label">Year:</p>
              <p th:text="${userRegistrationDetails.year ?: 'ex: 3'}"></p>
            </div>
            <div class="detail-row">
              <p class="detail-label">E-mail:</p>
              <p class="detail-value" th:text="${userRegistrationDetails.username}"></p>
            </div>
            <div class="detail-row">
              <p class="detail-label">Phone:</p>
              <p th:text="${userRegistrationDetails.phoneNumber ?: 'ex: 0734155510'}"></p>
            </div>
          </div>
          <!-- ABOUT INFO END -->
        </div>
        <!-- ABOUT CONTAINER  END -->

        <!-- SKILLS CONTAINER START -->
        <div class="section">
          <h2>SKILLS
            <div class="edit-button">
              <button id="mySkillBtn"> <img th:src="@{/img/edit-profile.png}" alt="Edit Profile" /> </button>
            </div>
          </h2>
          <!-- SKILLS MODAL START -->
          <div id="skillsModal" class="modal-skills">
            <div class="modal-content-skills">
              <span class="close-skill">&times;</span>
              <div class="dropdown-container">
                <div class="dropdown">
                  <button class="dropbtn" onclick="toggleDropdown()">Choose a topic</button>
                  <div class="dropdown-content" id="myDropdown">

                    <a th:each="topic : ${topics}" th:text="${topic.topic}" href="#"
                       th:attr="onclick='closeDropdown(\'' + ${topic.topic} + '\')'"></a>

                  </div>
                </div>
                <input type="text" class="skills-input" id="topic-input" placeholder="Selected Topic"
                       required autofocus="autofocus" readonly >
                <button type="submit" id="skills-add" class="btn btn-success" th:onclick="addSelectedTopic()">Add Topic</button>

              </div>
              <div class="divider"></div>

                <div id="skillsModalTableContainer" class="table-container">
                  <table id="myTable">
                    <tbody>
                    </tbody>
                  </table>
                </div>

                <div class="divider"></div>
              <form id="skills-form"  th:action="@{/saveProfileTopics}" method="post" >
                <input type="hidden" name="profileTopicsDataItems" id="profileTopicsDataItems" value="">
                <button type="submit" id="skills-save" class="btn btn-success" th:onclick="saveDataToServer()">Save</button>
              </form>
            </div>
          </div>
          <!-- SKILLS MODAL END -->
          <div class="divider"></div>
          <!-- SKILLS INFO START -->
          <div class="table-container">
            <table>
              <tbody>
              <tr th:each="topic : ${userTopics}" >
                <td th:text="${topic.topic}"></td>
                <td class="scrollable-column">
                  <div th:each="tag : ${topic.tags}" class="topic-tag-profile" th:text="${tag}"></div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="divider"></div>
          <!-- SKILLS INFO END -->
        </div>
        <!-- SKILLS CONTAINER END -->
      </div>
      <!-- RIGHT CONTAINER  END -->

    </div>
  </div>
</div>
<script th:src="@{/js/functions.js}"></script>
<script>
  const imageUploadInput = document.getElementById('imageUpload');
  const profileImage = document.getElementById('change-profile-image');

  imageUploadInput.addEventListener('change', (event) => {
    const selectedImage = event.target.files[0];
    const imageUrl = URL.createObjectURL(selectedImage);
    profileImage.src = imageUrl;
  });
</script>
<!-- jQuery beolvasása CDN-ről -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</body>
</html>

<!--              <div class="table-container">-->
<!--                <table>-->
<!--                  <tbody>-->
<!--                  <tr>-->
<!--                    <td> Informatics</td>-->
<!--                    <td class="scrollable-column">-->
<!--                      <div class="topic-tag" onclick="removeTag(this)">C++ </div>-->
<!--                      <div class="topic-tag" onclick="removeTag(this)">Python </div>-->
<!--                      <div class="topic-tag" onclick="removeTag(this)">Java </div>-->
<!--                      <div class="topic-tag" onclick="removeTag(this)">HTML </div>-->
<!--                      <div class="topic-tag" onclick="removeTag(this)">CSS </div>-->
<!--                      <div class="topic-tag" onclick="removeTag(this)">Haskell </div>-->
<!--                    </td>-->
<!--                    <td>-->
<!--                      <div class="func-buttons">-->
<!--                        <button class="add-button">Add</button>-->
<!--                        <button class="delete-button" onclick="deleteRow(this)">Delete</button>-->
<!--                      </div>-->
<!--                    </td>-->
<!--                  </tr>-->

<!--                  <tr class="tr-keywords">-->
<!--                    <td colspan="2">-->
<!--                      <div class="topic-tag-display" onclick="selectTag(this)">C++ </div>-->
<!--                      <div class="topic-tag-display" onclick="selectTag(this)">Python </div>-->
<!--                      <div class="topic-tag-display" onclick="selectTag(this)">Java </div>-->
<!--                      <div class="topic-tag-display" onclick="selectTag(this)">HTML </div>-->
<!--                      <div class="topic-tag-display" onclick="selectTag(this)">CSS </div>-->
<!--                      <div class="topic-tag-display" onclick="selectTag(this)">Haskell </div>-->
<!--                      <div class="topic-tag-display" onclick="selectTag(this)">C++ </div>-->
<!--                      <div class="topic-tag-display" onclick="selectTag(this)">Python </div>-->
<!--                      <div class="topic-tag-display" onclick="selectTag(this)">Java </div>-->
<!--                      <div class="topic-tag-display" onclick="selectTag(this)">HTML </div>-->
<!--                      <div class="topic-tag-display" onclick="selectTag(this)">CSS </div>-->
<!--                      <div class="topic-tag-display" onclick="selectTag(this)">Haskell </div>-->
<!--                    </td>-->
<!--                    <td>-->
<!--                      <div class="func-buttons">-->
<!--                        <button class="add-button">Save</button>-->
<!--                        <button class="delete-button" onclick="closeRow(this)">Cancel</button>-->
<!--                      </div>-->
<!--                  </tr>-->

<!--                  </tbody>-->
<!--                </table>-->
<!--              </div>-->




<!--                    <tr th:each="topic : ${userTopics}" >-->
<!--                      <td th:text="${topic.topic}"></td>-->
<!--                      <td class="scrollable-column">-->
<!--                        <div th:each="tag : ${topic.tags}" class="topic-tag" onclick="removeTag(this)" th:text="${tag}"></div>-->
<!--                      </td>-->
<!--                      <td>-->
<!--                        <div class="func-buttons">-->
<!--                          <button class="add-button">Add</button>-->
<!--                          <button class="delete-button" onclick="deleteRow(this)">Delete</button>-->
<!--                        </div>-->
<!--                      </td>-->
<!--                    </tr>-->






<!--var topicTag = document.createElement("div");-->
<!--topicTag.className = "topic-tag";-->
<!--topicTag.textContent = selectedTopic;-->
<!--topicTag.onclick = function() {-->
<!--removeTag(this);-->
<!--};-->

<!--var tagocska = document.createElement("div");-->
<!--tagocska.className = "topic-tag";-->
<!--tagocska.textContent = "igen";-->
<!--tagocska.onclick = function() {-->
<!--removeTag(this);-->
<!--};-->


<!--var row = document.createElement("tr");-->
<!--var topicId = "topic-" + topicCounter; // Egyedi témának egyedi azonosító-->

<!--var topicCell = document.createElement("td");-->
<!--topicCell.textContent = selectedTopic;-->

<!--var skillCell = document.createElement("td");-->
<!--skillCell.className = "scrollable-column";-->
<!--skillCell.appendChild(tagocska);-->
<!--skillCell.appendChild(topicTag);-->

<!--var funcButtons = document.createElement("div");-->
<!--funcButtons.className = "func-buttons";-->

<!--var topicSkills = document.createElement("tr");-->
<!--topicSkills.className = "tr-keywords " + topicId; // Egyedi azonosító hozzáadása a class-hoz-->

<!--var skillContainerTdElement = document.createElement("td");-->
<!--skillContainerTdElement.colSpan = 2;-->



<!--var addButton = document.createElement("button");-->
<!--addButton.className = "add-button";-->
<!--addButton.textContent = "Add";-->
<!--addButton.onclick = function() {-->
<!--addSkillToTopic(selectedTopic,skillContainerTdElement, topicId, skillCell);-->
<!--// Az egyedi azonosító alapján keresünk rá a sorra-->
<!--const keywordsRow = document.querySelector('.' + topicId);-->
<!--keywordsRow.style.display = (keywordsRow.style.display === 'none' || keywordsRow.style.display === '') ? 'table-row' : 'none';-->
<!--};-->

<!--var deleteButton = document.createElement("button");-->
<!--deleteButton.className = "delete-button";-->
<!--deleteButton.textContent = "Delete";-->
<!--deleteButton.onclick = function() {-->
<!--deleteRow(this);-->
<!--};-->

<!--funcButtons.appendChild(addButton);-->
<!--funcButtons.appendChild(deleteButton);-->

<!--var funcButtonsCell = document.createElement("td");-->
<!--funcButtonsCell.appendChild(funcButtons);-->

<!--//console.log(topicSkills)-->
<!--var topicSkillsFuncButtons = document.createElement("div");-->
<!--topicSkillsFuncButtons.className = "func-buttons";-->

<!--var saveButton = document.createElement("button");-->
<!--saveButton.className = "add-button";-->
<!--saveButton.id = "save-button";-->
<!--saveButton.textContent = "Save";-->
<!--saveButton.onclick = function() {-->
<!--saveSkills(this,skillCell, topicId);-->
<!--}-->

<!--var cancelButton = document.createElement("button");-->
<!--cancelButton.className = "delete-button";-->
<!--cancelButton.textContent = "Cancel";-->
<!--cancelButton.onclick = function() {-->
<!--closeRow(this);-->
<!--};-->

<!--topicSkillsFuncButtons.appendChild(saveButton);-->
<!--topicSkillsFuncButtons.appendChild(cancelButton);-->

<!--var TopicSkillsfuncButtonsCell = document.createElement("td");-->
<!--TopicSkillsfuncButtonsCell.appendChild(topicSkillsFuncButtons);-->

<!--row.appendChild(topicCell);-->
<!--row.appendChild(skillCell);-->
<!--row.appendChild(funcButtonsCell);-->

<!--topicSkills.appendChild(skillContainerTdElement);-->
<!--topicSkills.appendChild(TopicSkillsfuncButtonsCell);-->



<!--var tableContainer = document.querySelector(".table-container table tbody");-->

<!--tableContainer.appendChild(row);-->
<!--tableContainer.appendChild(topicSkills);-->

<!--topicCounterDatabase++; // Növeljük az egyedi azonosító számot-->




