<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="preload" th:href="@{/css/register.css}" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" th:href="@{/css/register.css}"></noscript>
    <link rel="stylesheet"  type="text/css" th:href="@{/css/register.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/languages.css}">
    <script th:src="@{/js/localThemeSettings.js}"></script>
    <link rel="icon" th:href="@{/img/mini_logo.png}" type="image/x-icon">
    <link rel="shortcut icon" th:href="@{/img/mini_logo.png}" type="image/x-icon">
</head>

<body class="register-page">
<div class="center">
    <div class="left">
        <img th:src="@{/img/student.png}" id="image" alt="image">
        <img th:src="@{/img/student2.png}" id="darkImage" alt="image" style="display:none;">
    </div>

    <div class="right">
        <p class="register-text">
            <span class="english-text">Already registered?</span>
            <span class="hungarian-text">Már regisztráltál?</span>
            <a class="login-link" href="/" th:href="@{/login}">
                <span class="english-text">Log in here!</span>
                <span class="hungarian-text">Jelentkezz be itt!</span>
            </a></p>
        <h1 id="login-text"><span class="english-text">Registration</span>
            <span class="hungarian-text">Regisztráció</span></h1>
        <div id="invalid-name" class="alert alert-danger" style="display: none;">
            <span class="english-text">Invalid first or last name.</span>
            <span class="hungarian-text">Helytelen kereszt- vagy vezetéknév.</span>
        </div>
        <div id="invalid-email" class="alert alert-danger" style="display: none;">
            <span class="english-text">Invalid email.</span>
            <span class="hungarian-text">Helytelen email cím.</span>
        </div>
<!--        <div id="invalid-email" th:if="${param.emailError}" class="alert alert-danger" style="display: none;">-->
<!--            <span class="english-text">Invalid email.</span>-->
<!--            <span class="hungarian-text">Helytelen email cím.</span>-->
<!--        </div>-->
        <div id="invalid-password" class="alert alert-danger" style="display: none;">
            <span class="english-text">Invalid password.</span>
            <span class="hungarian-text">Helytelen jelszó.</span>
        </div>
        <div id="already-registered" th:if="${param.duplicateError}" class="alert alert-danger">
            <span class="english-text">This email is already taken.</span>
            <span class="hungarian-text">Az email cím már használatban van.</span>
        </div>

        <!-- logout message -->
        <div th:if="${param.success}" class="alert alert-info">
            <span class="english-text">You've successfully registered! Please, check your email for to complete your registration.</span>
            <span class="hungarian-text">Sikeresen regisztráltál! Kérlek, ellenőrizd az emailjeidet a regisztráció befejezéséhez.</span>
        </div>

        <form th:action="@{/register}" method="post" th:object="${user}">

            <div class="form-group">
                <input class="form-control" id="firstName" placeholder="Enter First Name" th:field="*{firstName}"
                       required autofocus="autofocus" oninput="validateFirstName()">
            </div>

            <div class="form-group">
                <input class="form-control" id="lastName" placeholder="Enter Last Name" th:field="*{lastName}"
                       required autofocus="autofocus" oninput="validateLastName()">
            </div>

            <div class="form-group">
                <input class="form-control" id="email" placeholder="Enter Email" th:field="*{email}"
                       required autofocus="autofocus" oninput="validateEmail()">
                <div class="info-icon" data-tooltip="Tooltip text for First Name">
                    <i class="fas fa-info-circle"></i>
                </div>
                    <div class="info-tooltip">
                        <span class="english-text">Only Sapientia email is accepted!</span>
                        <span class="hungarian-text">Csak sapientiás email cím elfogadott!</span>
                    </div>
            </div>

            <div class="form-group">
                <input type="password" class="form-control" id="password" placeholder="Enter Password" th:field="*{password}"
                       required autofocus="autofocus" oninput="validatePassword()">
                <div class="info-icon" data-tooltip="Tooltip text for First Name">
                    <i class="fas fa-info-circle"></i>
                </div>
                <div class="info-tooltip">
                    <span class="english-text">At least 8 characters!</span>
                    <span class="hungarian-text">Legalább 8 karakter!</span>
                </div>
            </div>

            <div class="form-group">
                <button type="submit"  id="register-submit" class="btn btn-success green-button">
                    <span class="english-text">Register</span>
                    <span class="hungarian-text">Regisztráció</span></button>
            </div>
        </form>

    </div>
</div>
<script th:src="@{/js/register.js}"></script>
<script th:src="@{/js/localLanguageSettings.js}"></script>
</body>
</html>
