<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SapiMentor</title>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/resources.css}">

</head>

<body>
<div class="taskbar">
    <p class="menu-function-top">
        <a href="/" th:href="@{/profile}">
            <img th:if="${profileImageBase64 != ''}"
                 th:src="@{|data:image/jpeg;base64,${profileImageBase64}|}"
                 alt="Profile Image" class="menu-icon rounded-icon-top"
                 th:async="async"
                 th:attr="data-cache='no-cache'">
            <img th:unless="${profileImageBase64 != ''}"
                 th:src="@{/img/anonym.jpg}" alt="Profile Image" class="profile-image">
            <!-- <span th:text="${userRegistrationDetails.firstName + ' ' + userRegistrationDetails.lastName}"></span> --> </a> </p>
   <p class="menu-function">
       <img th:src="@{/img/back.png}" alt="Icon" class="back-icon" onclick="toggleDivs()"> </p>
</div>

<div class="center">
   <div class="left hidden">
       <h1 id="index-text">SapiMentor</h1>
       <div class="form-group form-group-profile">
           <p class="menu-function menu-function-profile">
               <a href="/" th:href="@{/profile}">
                   <img th:if="${profileImageBase64 != ''}"
                        th:src="@{|data:image/jpeg;base64,${profileImageBase64}|}"
                        alt="Profile Image" class="menu-icon rounded-icon"
                        th:async="async"
                        th:attr="data-cache='no-cache'">
                   <img th:unless="${profileImageBase64 != ''}"
                        th:src="@{/img/anonym.jpg}" alt="Profile Image" class="profile-image">
                   <!-- <span th:text="${userRegistrationDetails.firstName + ' ' + userRegistrationDetails.lastName}"></span> --></a>
       </div>
       <div class="menu-divider"></div>
       <div class="form-group" th:if="${userRolesToDisplayResources.contains('MENTOR') or userRolesToDisplayResources.contains('MENTEE')}">
           <p class="menu-function">
               <a href="/" th:href="@{/myGroup}"> <img th:src="@{/img/myGroup.png}" alt="Icon" class="menu-icon"> My Group</a> </p>
       </div>
       <div class="form-group">
           <p class="menu-function">
               <a href="/" th:href="@{/topics}"> <img th:src="@{/img/topics.png}" alt="Icon" class="menu-icon"> Topics</a> </p>
       </div>
       <div class="form-group">
           <p class="menu-function">
               <a href="/" th:href="@{/resources}"> <img th:src="@{/img/resource.png}" alt="Icon" class="menu-icon"> Resource</a> </p>
       </div>
       <div class="form-group">
           <p class="menu-function">
               <a href="/" th:href="@{/settings}"> <img th:src="@{/img/settings.png}" alt="Icon" class="menu-icon"> Settings</a> </p>
       </div>
       <div class="form-group">
           <p class="menu-function">
               <a href="/logout"  > <img th:src="@{/img/logout.png}" alt="Icon" class="menu-icon"> Logout</a> </p>
       </div>
   </div>

   <div class="right show" id="right-content">
       <!-- MENU BAR START-->
        <div class="resource-menu">
            <div class="button-container">
                <button class="selected"> RESOURCES</button>
                <button id="examExamples"> EXAM EXAMPLES</button>
                <button id="diplomaTheses"> DIPLOMA THESES</button>
            </div>

            <div class="dropdown">
                <button class="dropbtn">RESOURCES</button>
                <div class="dropdown-content">
                    <a id="examExamplesDrop">EXAM EXAMPLES</a>
                    <a id="diplomaThesesDrop">DIPLOMA THESES</a>
                </div>
            </div>

        </div>
        <!-- MENU BAR END-->

        <div class="open-search-buttons">
            <button class="search-button" id="myFilterBtn" onclick="showFilterContainer()">Search</button>
            <button class="reverse-button" id="myReverseBtn"><img th:src="@{/img/reverse.png}" alt="Icon" class="reverse-icon"></button>
            <button type="button" id="upload-hidden" class="btn btn-success" >
                <img th:src="@{/img/uploadimg.png}" alt="Icon" class="menu-icon"></button>

        </div>

        <!-- FILTER BAR START-->
        <div class="filter-container">
            <input type="text" class="filter-input" id="filter-input" placeholder="Search..." required>

            <div class="filter-ddowns">
                <div class="topic-dropdown-container">
                    <div class="topic-dropdown">
                        <button class="topic-dropbtn" onclick="toggleDropdown()">Choose topics</button>
                        <div class="topic-checkboxes" id="topic-myCheckboxes">
                            <label th:each="topic : ${topics}">
                                <input type="checkbox" th:value="${topic.topic}" th:id="${'checkbox-' + topic}">
                                <span th:text="${topic.topic}"></span>
                            </label>
<!--                            <label><input type="checkbox" value="Informatics"> Informatics</label>-->
<!--                            <label><input type="checkbox" value="Languages"> Languages</label>-->
<!--                            <label><input type="checkbox" value="Engineering"> Engineering</label>-->
                        </div>
                    </div>
                </div>

                <div class="filter-dropdown-container">
                    <div class="filter-dropdown">
                        <button class="filter-dropbtn" onclick="toggleFilterDropdown()">Choose a filter</button>
                        <input type="hidden" id="filter-selectedValue" value="Choose a filter">
                        <div class="filter-dropdown-content" id="filter-myDropdown">
                            <a href="#" onclick="closeDropdown('Choose a filter')">Choose a filter</a>
                            <a href="#" onclick="closeDropdown('by Name')">by Name</a>
                            <a href="#" onclick="closeDropdown('by Likes')">by Likes</a>
                            <a href="#" onclick="closeDropdown('by Date')">by Date</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="func-buttons">
                <button class="search-button">Search</button>
                <button class="cancel-button" onclick="cancelFilterWindow()">Cancel</button>
                <button class="reverse-button" id="reverseButton"><img th:src="@{/img/reverse.png}" alt="Icon"
                                                                       class="reverse-icon"></button>
                <button type="button" id="upload-upload" class="btn btn-success" th:if="${userRolesToDisplayResources.contains('MENTOR') or userRolesToDisplayResources.contains('MENTEE')}">
                    <img th:src="@{/img/uploadimg.png}" alt="Icon" class="menu-icon"></button>
            </div>
        </div>
        <div class="divider"></div>
        <!-- FILTER BAR END-->
        <!-- LINK TABLE START -->
        <div class="table-container" id="table-container">
            <table class="link-table">
                <thead id="link-table-head">
                <tr>
                    <th class="table-number">NR</th>
                    <th class="table-link">Link</th>
                    <th class="table-topic">Topic</th>
                    <th class="table-user">User</th>
                    <th class="table-likes">Likes</th>
                    <th class="table-actions">Actions</th>
                </tr>
                </thead>
                <tbody id="link-table-body">

                <tr th:each="resource, stat : ${resourcesData}" th:id="'resource-row-' + ${resource.id}">
                    <td th:text="${stat.index + 1}"></td>
                    <td><a th:href="${resource.link}" target="_blank" th:text="${resource.name}"></a></td>
                    <td th:text="${resource.topic_name}"></td>
                    <td th:text="${resource.user_name}"></td>
                    <td><span class="like-dislike-count" th:text="${resource.like + '/' + resource.dislike}"></span></td>
                    <td>
                        <button class="like-button-link">Like</button>
                        <button class="dislike-button-link">Dislike</button>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>
        <div class="pagination-container">
            <button id="prev-page-button">Previous</button>
            <div id="page-counter"></div>
            <button id="next-page-button">Next</button>
        </div>
        <!-- LINK TABLE END -->
    </div>

<!--Valahogy igy kene megcsinalni Andrisnak is-->
<!--    <div id="loading-modal" class="modal">-->
<!--        <div class="modal-content">-->
<!--            <img src="spinner.gif" alt="Loading..." />-->
<!--        </div>-->
<!--    </div>-->

    <!-- RESOURCE MODAL START -->
    <div id="resourceModal" class="modal-resource">
        <div class="modal-content-resource">
            <div class="form-group-edit">
                <div class="detail-row">
                    <p class="detail-label">Link:</p>
                    <input type="text" class="edit-input" id="resourceLink-edit" placeholder="" required
                           autofocus="autofocus" th:oninput="validateLink()">
                    <div class="info-icon" data-tooltip="">
                        <i class="fas fa-info-circle"></i>
                    </div>
                    <div class="info-tooltip">Enter a real link!</div>
                </div>
            </div>

            <div class="form-group-edit">
                <div class="detail-row">
                    <p class="detail-label">Name:</p>
                    <input type="text" class="edit-input" id="resourceName-edit" placeholder="" required
                           autofocus="autofocus" th:oninput="validateName()">
                    <div class="info-icon" data-tooltip="">
                        <i class="fas fa-info-circle"></i>
                    </div>
                    <div class="info-tooltip">Enter an accurate name!</div>
                </div>
            </div>

            <div class="form-group-edit">
                <div class="detail-row">
                    <p class="detail-label">Topic:</p>

                    <div class="topic-dropdown-modal">
                        <button class="topic-dropbtn-modal" onclick="toggleDropdownModal()">Choose a topic</button>
                        <input type="hidden" id="topic-selected-modal" value="Choose a topic">
                        <div class="topic-dropdown-content" id="topic-myDropdown">
                            <a th:each="topic : ${topics}" th:text="${topic.topic}" href="#"
                               th:attr="onclick='closeDropdown(\'' + ${topic.topic} + '\')'"></a>
                        </div>


                    </div>
                </div>
            </div>

            <div class="func-buttons-modal">
                <!--<form id="resource-form"  th:action="@{/saveResourceLinks}" method="post" >-->
                    <!--<input type="hidden" name="resourceDataItems" id="resourceDataItems" value="">-->
                <button type="submit" class="upload-button-modal" id="upload-button-modal" th:onclick="saveResourceDataToServer()" >Upload</button>
                <!--</form>-->
                <button class="cancel-button-modal close-resource">Cancel</button>
            </div>


        </div>
    </div>
    <!-- RESOURCE MODAL END -->

</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    // const eventSource = new EventSource('/sse/subscribe');
    //
    // eventSource.onmessage = (event) => {
    //     const message = event.data;
    //     console.log(`Received SSE message: ${message}`);
    //     // Itt frissitsd a like/dislike ertekeket a DOM-ban
    //     const likeDislikeCountElement = document.querySelector('.like-dislike-count');
    //     console.log(likeDislikeCountElement);
    //     likeDislikeCountElement.textContent = message;
    // };

    //ujjabb
    // $(document).ready(function (){
    //
    //     var urlEndpoint = "/sse/subscribe";
    //     var eventSource = new EventSource(urlEndpoint);
    //
    //     function
    // })
</script>
<script th:src="@{/js/functions.js}"></script>
<script th:src="@{/js/resources.js}"></script>

</body>

</html>