<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SapiMentor</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}">
    <link rel="preload" th:href="@{/css/users.css}" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" th:href="@{/css/users.css}"></noscript>
    <link rel="stylesheet" type="text/css" th:href="@{/css/users.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/languages.css}">
    <script th:src="@{/js/localThemeSettings.js}"></script>
    <link rel="icon" th:href="@{/img/mini_logo.png}" type="image/x-icon">
    <link rel="shortcut icon" th:href="@{/img/mini_logo.png}" type="image/x-icon">

</head>

<body class="exams-page">

<div id="preloader"> </div>

<div class="taskbar">
    <a href="/" th:href="@{/profile}">
        <div class="user-img-container">
            <img th:if="${profileImageBase64 != ''}"
                 th:src="@{|data:image/jpeg;base64,${profileImageBase64}|}"
                 alt="Profile Image" class="menu-icon rounded-icon-top"
                 th:async="async"
                 th:attr="data-cache='no-cache'">
            <img th:unless="${profileImageBase64 != ''}"
                 th:src="@{/img/anonym.jpg}" alt="Profile Image" class="menu-icon rounded-icon">
            <span class="nbr-msg hiddenMsg toMessenger-btn"></span>
        </div>
        <span class="username-container" th:text="${userRegistrationDetails.firstName + ' ' + userRegistrationDetails.lastName}"></span> </a> </p>
    <img th:src="@{/img/back.png}" alt="Icon" class="back-icon" onclick="toggleDivs()"> </p>
</div>

<div class="center" th:id="'userIdForUsersPage-' + ${userIdForUsersPage}">
    <div class="left hidden">
        <div class="center-image">
            <img th:src="@{/img/white.png}" id="sapimentor-logo" alt="image">
        </div>
        <div class="form-group form-group-profile menu-function-profile">
            <a th:href="@{/profile}">
                <div class="user-img-container">
                    <img th:if="${profileImageBase64 != ''}"
                         th:src="@{|data:image/jpeg;base64,${profileImageBase64}|}"
                         alt="Profile Image" class="menu-icon rounded-icon"
                         th:async="async"
                         th:attr="data-cache='no-cache'">
                    <img th:unless="${profileImageBase64 != ''}"
                         th:src="@{/img/anonym.jpg}" alt="Profile Image" class="menu-icon rounded-icon">
                    <span class="nbr-msg hiddenMsg toMessenger-btn"></span>
                </div>
                <span class="username-container" th:text="${userRegistrationDetails.firstName + ' ' + userRegistrationDetails.lastName}"></span> </a>
        </div>
        <div class="menu-divider"></div>
        <div class="form-group">
            <p class="menu-function">
                <a href="/" th:href="@{/}"> <img th:src="@{/img/home.png}" alt="Icon" class="menu-icon">
                    <span class="english-text">Home</span>
                    <span class="hungarian-text">Főoldal</span>
                </a></p>
        </div>


        <div class="form-group current-page">
            <p class="menu-function">
                <a th:href="@{/users}"> <img th:src="@{/img/current-page-icon.png}" alt="Icon" class="menu-icon current-menu-icon"> <img th:src="@{/img/users.png}" alt="Icon" class="menu-icon">
                    <span class="english-text">Users</span>
                    <span class="hungarian-text">Felhasználók</span>
                </a> </p>
        </div>

        <div class="form-group">
            <p class="menu-function">
                <a th:href="@{/topics}"> <img th:src="@{/img/topics.png}" alt="Icon" class="menu-icon">
                    <span class="english-text">Topics</span>
                    <span class="hungarian-text">Témák</span>
                </a> </p>
        </div>
        <div class="form-group">
            <p class="menu-function">
                <a th:href="@{/resources}"> <img th:src="@{/img/resource.png}" alt="Icon" class="menu-icon">
                    <span class="english-text">Resources</span>
                    <span class="hungarian-text">Segédanyagok</span>
                </a> </p>
        </div>
        <div class="form-group">
            <p class="menu-function">
                <a th:href="@{/settings}"> <img th:src="@{/img/settings.png}" alt="Icon" class="menu-icon">
                    <span class="english-text">Settings</span>
                    <span class="hungarian-text">Beállítások</span>
                </a></p>
        </div>
        <div class="form-group">
            <p class="menu-function">
                <a href="/logout" > <img th:src="@{/img/logout.png}" alt="Icon" class="menu-icon">
                    <span class="english-text">Logout</span>
                    <span class="hungarian-text">Kijelentkezés</span>
                </a> </p>
        </div>
    </div>

    <div class="right show" id="right-content">

        <!-- FILTER BAR START-->
        <div class="filter-container">
            <div class="filter-ddowns">

                <div class="input-container">
                    <input type="text" class="filter-input" id="filter-input" placeholder="Search by Name..." required>
                    <div id="suggestion-list"></div>
                </div>
            </div>

            <div class="func-buttons">
                <button class="search-button green-button" id="search-button">
                    <span class="english-text">Search</span>
                    <span class="hungarian-text">Keresés</span>
                </button>
            </div>
        </div>
        <div class="divider"></div>
        <!-- FILTER BAR END-->

        <!-- LINK TABLE START -->
        <div class="table-container" id="table-container">
            <table class="link-table" id="dataTable">
                <thead id="link-table-head">
                <tr>
                    <th class="table-number sortable">NR</th>
                    <th class="table-number sortable" style="display: none">ID</th>
                    <th class="table-picture sortable">
                        <span class="english-text">Picture</span>
                        <span class="hungarian-text">Kép</span>
                    </th>
                    <th class="table-name sortable">
                        <span class="english-text">Name</span>
                        <span class="hungarian-text">Név</span>
                    </th>
                    <th class="table-email sortable">
                        <span class="english-text">Email</span>
                        <span class="hungarian-text">Email cím</span>
                    </th>
                    <th class="table-phone sortable">
                        <span class="english-text">Phone</span>
                        <span class="hungarian-text">Telefonszám</span>
                    </th>
                    <th class="table-specialization sortable">
                        <span class="english-text">Specialization</span>
                        <span class="hungarian-text">Szak</span>
                    </th>
                    <th class="table-online">
                        <span class="english-text">Online at</span>
                        <span class="hungarian-text">Elérhető</span>
                    </th>
                    <th class="table-modifier">
                        <span class="english-text">Modifier</span>
                        <span class="hungarian-text">Módosító</span>
                    </th>
                    <th class="table-modified">
                        <span class="english-text">Modified at</span>
                        <span class="hungarian-text">Módosítás</span>
                    </th>
                    <th class="table-enabled">
                        <span class="english-text">Enabled</span>
                        <span class="hungarian-text">Megerősítés</span>
                    </th>
                    <th class="table-modify">
                        <span class="english-text">Modify</span>
                        <span class="hungarian-text">Módosítás</span>
                    </th>
                </tr>
                </thead>
                <tbody id="link-table-body">
                <tr th:each="user, iterStat : ${usersData}" th:id="'user-row-' + ${user.user_id}">
                    <td th:text="${iterStat.index + 1}"></td>
                    <td th:text="${user.user_id}" style="display: none;"></td>
                    <td>
                        <img th:if="${user.profileImage != null && user.profileImage != ''}"
                             th:src="@{|data:image/jpeg;base64,${user.profileImage}|}"
                             alt="Profile Image" class="menu-icon rounded-icon table-user-icon"
                             th:async="async"
                             th:attr="data-cache='no-cache'">
                        <img th:unless="${user.profileImage != null && user.profileImage != ''}"
                             th:src="@{/img/anonym.jpg}" alt="Profile Image" class="menu-icon rounded-icon table-user-icon">
                    </td>
                    <td>
                        <span th:if="${#strings.isEmpty(user.first_Name) || #strings.isEmpty(user.last_Name)}"
                              style="font-style: italic; color: grey;">
                            NULL
                        </span>
                                        <span th:unless="${#strings.isEmpty(user.first_Name) || #strings.isEmpty(user.last_Name)}"
                                              th:text="${user.first_Name + ' ' + user.last_Name}">
                        </span>
                    </td>
                    <td th:text="${#strings.isEmpty(user.email) ? 'NULL' : user.email}"></td>
                    <td>
                        <span th:if="${#strings.isEmpty(user.phoneNumber)}" style="font-style: italic; color: grey;">
                            NULL
                        </span>
                        <span th:unless="${#strings.isEmpty(user.phoneNumber)}" th:text="${user.phoneNumber}"></span>
                    </td>
                    <td>
                        <span th:if="${#strings.isEmpty(user.specialization)}" style="font-style: italic; color: grey;">
                            NULL
                        </span>
                        <span th:unless="${#strings.isEmpty(user.specialization)}" th:text="${user.specialization}"></span>
                    </td>
                    <td>
                        <span th:if="${#strings.isEmpty(user.online_at)}" style="font-style: italic; color: grey;">
                            NULL
                        </span>
                        <span class="user-online_at" th:unless="${#strings.isEmpty(user.online_at)}" th:text="${user.online_at}" ></span>
                    </td>
                    <td>
                        <span th:if="${#strings.isEmpty(user.modified_by)}" style="font-style: italic; color: grey;">
                            NULL
                        </span>
                        <span th:unless="${#strings.isEmpty(user.modified_by)}" th:text="${user.modified_by}"></span>
                    </td>
                    <td>
                        <span th:if="${#strings.isEmpty(user.modified_at)}" style="font-style: italic; color: grey;">
                            NULL
                        </span>
                        <span th:unless="${#strings.isEmpty(user.modified_at)}" th:text="${user.modified_at}"></span>
                    </td>
                    <td>
                        <span th:if="${#strings.isEmpty(user.enabled)}" style="font-style: italic; color: grey;">
                            NULL
                        </span>
                        <span th:unless="${#strings.isEmpty(user.enabled)}" th:text="${user.enabled}"></span>
                    </td>
                    <td>
                        <button class="user-modify-btn blue-button" th:onclick="'setupModifyUsersModal(' + ${user.user_id} + ')'" th:id="'user-modify-btn-' + ${user.user_id}">
                            <span class="english-text">Modify</span>
                            <span class="hungarian-text">Módosít</span>
                        </button>

                        <!-- MODIFY MODAL START -->
                        <div id="usersModifyModal" class="modal-users" th:id="'usersModifyModal-' + ${user.user_id}">
                            <div class="modal-content-users">
                                <div class="message-exam-modal-content-container">
                                    <p class="error-message-exam-modal-content" id="error-message-exam-modal-content-modify"></p>
                                </div>

                                <div class="form-group-edit">
                                    <div class="detail-row">
                                        <p class="detail-label">
                                            <span class="english-text">First Name:</span>
                                            <span class="hungarian-text">Keresztnév:</span>
                                        </p>
                                        <input type="text" class="edit-input" th:id="'userFirstName-edit-modify-' + ${user.user_id}" placeholder="" required
                                               autofocus="autofocus" th:value="${user.first_Name}">
                                    </div>
                                    <div class="detail-row">
                                        <p class="detail-label">
                                            <span class="english-text">Last Name:</span>
                                            <span class="hungarian-text">Vezetéknév:</span>
                                        </p>
                                        <input type="text" class="edit-input" th:id="'userLastName-edit-modify-' + ${user.user_id}" placeholder="" required
                                               autofocus="autofocus" th:value="${user.last_Name}">
                                    </div>
                                    <div class="detail-row">
                                        <p class="detail-label">
                                            <span class="english-text">Email:</span>
                                            <span class="hungarian-text">Email cím:</span>
                                        </p>
                                        <input type="text" class="edit-input" th:id="'userEmail-edit-modify-' + ${user.user_id}" placeholder="" required
                                               autofocus="autofocus" th:value="${user.email}">
                                    </div>
                                    <div class="detail-row">
                                        <p class="detail-label">
                                            <span class="english-text">Enabled:</span>
                                            <span class="hungarian-text">Megerősítés:</span>
                                        </p>
                                        <select class="edit-input"
                                                th:id="'userEnabled-edit-modify-' + ${user.user_id}"
                                                required autofocus="autofocus">
                                            <option value="true" th:selected="${user.specialization == 'true'}">True</option>
                                            <option value="false" th:selected="${user.specialization == 'false'}">False</option>
                                        </select>
                                    </div>

                                    <div class="detail-row">
                                        <p class="detail-label">
                                            <span class="english-text">Specialization:</span>
                                            <span class="hungarian-text">Szakosodás:</span>
                                        </p>
                                        <input type="text" class="edit-input" th:id="'userSpecialization-edit-modify-' + ${user.user_id}" placeholder="" required
                                               autofocus="autofocus" th:value="${user.specialization}">
                                    </div>

                                    <div class="detail-row">
                                        <p class="detail-label">
                                            <span class="english-text">Year:</span>
                                            <span class="hungarian-text">Év:</span>
                                        </p>
                                        <input type="text" class="edit-input" th:id="'userYear-edit-modify-' + ${user.user_id}" placeholder="" required
                                               autofocus="autofocus" th:value="${user.year}">
                                    </div>
                                    <div class="detail-row">
                                        <p class="detail-label">
                                            <span class="english-text">Phone:</span>
                                            <span class="hungarian-text">Telefonszám:</span>
                                        </p>
                                        <input type="text" class="edit-input" th:id="'userPhoneNumber-edit-modify-' + ${user.user_id}" placeholder="" required
                                               autofocus="autofocus" th:value="${user.phoneNumber}">
                                    </div>
                                </div>


                                <div class="func-buttons-modal">
                                    <button type="submit" class="upload-button-modal-modify blue-button" id="modify-button-modal" th:id="'modify-button-modal-' + ${user.user_id}"
                                            th:onclick="'saveModifiedUserDataToServer(\'' + ${user.user_id} + '\')'">
                                        <span class="english-text">Modify</span>
                                        <span class="hungarian-text">Módosít</span>
                                    </button>
                                    <button class="cancel-button-modal-modify close-examExamples-modify red-button" id="modify-modal-delete"
                                            th:onclick="'deleteExamExamplesData(\'' + ${user.user_id} + '\')'">
                                        <span class="english-text">Delete</span>
                                        <span class="hungarian-text">Töröl</span>
                                    </button>
                                    <button class="cancel-button-modal-modify close-users-modify red-button" th:onclick="'closeModifyModal(\'usersModifyModal-' + ${user.user_id} + '\')'">
                                        <span class="english-text">Cancel</span>
                                        <span class="hungarian-text">Mégse</span>
                                    </button>
                                </div>
                            </div>

                            </div>
                        <!-- MODIFY MODAL END -->
                    </td>
                </tr>


                </tbody>
            </table>
        </div>
        <div class="pagination-container">
            <button id="prev-page-button">
                <span class="english-text">Previous</span>
                <span class="hungarian-text">Előző</span>
            </button>
            <div id="page-counter"></div>
            <button id="next-page-button">
                <span class="english-text">Next</span>
                <span class="hungarian-text">Következő</span>
            </button>
        </div>
        <!-- LINK TABLE END -->
    </div>
    <div id="loading-modal" class="modal">
        <div class="modal-content">
            <img class="loading-gif" th:src="@{/gif/preload.gif}" alt="Loading..." />
        </div>
    </div>

</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script th:src="@{/js/functions.js}"></script>
<script th:src="@{/js/users.js}"></script>
<script th:src="@{/js/WebSocketForUsersPage.js}"></script>
<script th:src="@{/js/localLanguageSettings.js}"></script>

</body>
</html>