<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" th:href="@{../css/index.css}">
  <link rel="stylesheet" type="text/css" th:href="@{../css/myGroup.css}">
  <title>Title</title>
</head>
<body>
<div th:fragment="modal-content" class="profile-modal" >
  <span class="close-profile-modal">&times;</span>

  <div class="profile-modal-left-box">

    <div class="image-container">
      <img th:if="${profileImageForMyGroupBase64 != ''}"
           th:src="@{|data:image/jpeg;base64,${profileImageForMyGroupBase64}|}"
           alt="Profile Image" class="profile-image">

      <img th:unless="${profileImageForMyGroupBase64 != ''}"
           th:src="@{/img/anonym.jpg}" alt="Profile Image" class="profile-image">
    </div>
    <div class="status-box">
      <div class="name-box">
        <p class="first-name" th:text="${userDetailsForMyGroup.firstName}">  </p>
      </div>

      <div class="rating modal-rating-star">
        <input type="radio" id="star5" name="rating" value="5" th:checked="${averageRatingForMyGruopModal >= 4.5}" disabled />
        <label for="star5" th:style="${averageRatingForMyGruopModal >= 4.5} ? 'color: gold;' : ''" >&#9733;</label>
        <input type="radio" id="star4" name="rating" value="4" th:checked="${averageRatingForMyGruopModal >= 3.5}" disabled />
        <label for="star4" th:style="${averageRatingForMyGruopModal >= 3.5} ? 'color: gold;' : ''" >&#9733;</label>
        <input type="radio" id="star3" name="rating" value="3" th:checked="${averageRatingForMyGruopModal >= 2.5}" disabled />
        <label for="star3" th:style="${averageRatingForMyGruopModal >= 2.5} ? 'color: gold;' : ''" >&#9733;</label>
        <input type="radio" id="star2" name="rating" value="2" th:checked="${averageRatingForMyGruopModal >= 1.5}" disabled />
        <label for="star2" th:style="${averageRatingForMyGruopModal >= 1.5} ? 'color: gold;' : ''" >&#9733;</label>
        <input type="radio" id="star1" name="rating" value="1" th:checked="${averageRatingForMyGruopModal >= 0.5}" disabled />
        <label for="star1" th:style="${averageRatingForMyGruopModal >= 0.5} ? 'color: gold;' : ''" >&#9733;</label>
      </div>

      <div class="interaction-buttons">
      <!-- RATE button -->
      <button id="rating-button" onclick="showRateSection()">RATE</button>
        <!-- Rating Section -->
        <div id="ratingSection" style="display: none;">
          <div class="rating-rate modal-rating-star-rate">
            <input type="radio" id="ratestar5" name="rating" value="5" onclick="rateWithStars(5)" />
            <label for="ratestar5">&#9733;</label>
            <input type="radio" id="ratestar4" name="rating" value="4" onclick="rateWithStars(4)" />
            <label for="ratestar4">&#9733;</label>
            <input type="radio" id="ratestar3" name="rating" value="3" onclick="rateWithStars(3)" />
            <label for="ratestar3">&#9733;</label>
            <input type="radio" id="ratestar2" name="rating" value="2" onclick="rateWithStars(2)" />
            <label for="ratestar2">&#9733;</label>
            <input type="radio" id="ratestar1" name="rating" value="1" onclick="rateWithStars(1)" />
            <label for="ratestar1">&#9733;</label>
          </div>
          <!-- SAVE and CANCEL buttons for rating -->
          <button id="save-rating" onclick="saveRating()">SAVE</button>
          <button id="cancel-rating" onclick="cancelRating()">CANCEL</button>
        </div>
      <!-- COMMENT button -->
      <button id="comment-button" onclick="showCommentSection()">COMMENT</button>
        </div>

      <!-- Comment Section -->
      <div id="commentSection" style="display: none;">
        <textarea id="commentInput" maxlength="500" placeholder="Write your comment..."></textarea>
        <!-- SAVE and CANCEL buttons for commenting -->
        <button id="save-comment" onclick="saveComment()">SAVE</button>
        <button id="cancel-comment" onclick="cancelComment()">CANCEL</button>
      </div>

      <!-- Comment Display Section -->
      <div id="commentDisplaySection">
        <!-- Comments will be displayed here -->
      </div>

    </div>
  </div>


  <div class="profile-modal-right-box" >

    <div class="profile-right">
      <!-- ABOUT CONTAINER  START -->
      <div class="section">
        <h2>ABOUT</h2>
        <!-- ABOUT INFO START -->
        <div class="divider"></div>
        <div class="details">
          <div class="detail-row">
            <p class="detail-label">Name:</p>
            <div class="name-box-container">
            <p class="detail-value name-box" th:text="${userDetailsForMyGroup.lastName}"></p>
            <p class="detail-value name-box" th:text="${userDetailsForMyGroup.firstName}"></p>
            </div>
          </div>
          <div class="detail-row">
            <p class="detail-label">Specialization:</p>
            <p th:text="${userDetailsForMyGroup.specialization ?: 'ex: Software Engineering'}"></p>
          </div>
          <div class="detail-row">
            <p class="detail-label">Year:</p>
            <p th:text="${userDetailsForMyGroup.year ?: 'ex: 3'}"></p>
          </div>
          <div class="detail-row">
            <p class="detail-label">E-mail:</p>
            <p class="detail-value" th:text="${userDetailsForMyGroup.userName}"></p>
          </div>
          <div class="detail-row">
            <p class="detail-label">Phone:</p>
            <p th:text="${userDetailsForMyGroup.phoneNumber ?: 'ex: 0734155510'}"></p>
          </div>
        </div>
        <!-- ABOUT INFO END -->
      </div>
      <!-- ABOUT CONTAINER  END -->

      <!-- SKILLS CONTAINER START -->
      <div class="section">
        <h2>SKILLS
        </h2>
        <div class="divider"></div>
        <!-- SKILLS INFO START -->
        <div class="table-container">
          <table>
            <tbody>
            <tr th:each="topic : ${userTopicsForMyGroup}" >
              <td th:text="${topic.topic}"></td>
              <td class="scrollable-column">
                <div th:each="tag : ${topic.tags}" class="topic-tag-profile" th:text="${tag}"></div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="divider"></div>
        <!-- SKILLS INFO END -->
      </div>
      <!-- COMMENT CONTAINER START -->
      <div class="section" id="comment-section-container">
        <h2>COMMENTS</h2>
        <!-- COMMENT INFO START -->
        <div class="divider"></div>
        <div class="comments">



          <!-- Comment entries with navigation arrows -->
          <div class="comment-entry" id="commentContainer" style="display: block;">
            <div class="comment-row">
              <p class="comment-label">FirstName LastName </p>

              <div class="comment-infos">
              <p class="comment-label-date">2024.01.20. </p>
              <div class="comment-rating">
                <input type="radio" id="comment-star5" name="rating" value="5" th:checked="${averageRatingForMyGruopModal >= 4.5}" disabled />
                <label for="star5" th:style="${averageRatingForMyGruopModal >= 4.5} ? 'color: gold;' : ''" >&#9733;</label>
                <input type="radio" id="comment-star4" name="rating" value="4" th:checked="${averageRatingForMyGruopModal >= 3.5}" disabled />
                <label for="star4" th:style="${averageRatingForMyGruopModal >= 3.5} ? 'color: gold;' : ''" >&#9733;</label>
                <input type="radio" id="comment-star3" name="rating" value="3" th:checked="${averageRatingForMyGruopModal >= 2.5}" disabled />
                <label for="star3" th:style="${averageRatingForMyGruopModal >= 2.5} ? 'color: gold;' : ''" >&#9733;</label>
                <input type="radio" id="comment-star2" name="rating" value="2" th:checked="${averageRatingForMyGruopModal >= 1.5}" disabled />
                <label for="star2" th:style="${averageRatingForMyGruopModal >= 1.5} ? 'color: gold;' : ''" >&#9733;</label>
                <input type="radio" id="comment-star1" name="rating" value="1" th:checked="${averageRatingForMyGruopModal >= 0.5}" disabled />
                <label for="star1" th:style="${averageRatingForMyGruopModal >= 0.5} ? 'color: gold;' : ''" >&#9733;</label>
              </div>
              </div>

            </div>
            <div class="comment-content">
              <p class="comment-label-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
              <p id="comment"></p>
            </div>
            <div class="nav-arrows">
              <button class="navigate-button" onclick="navigateComments(-1)">←</button>
              <button class="navigate-button" onclick="navigateComments(1)">→</button>
            </div>
          </div>



        </div>
        <!-- COMMENT INFO END -->
      </div>
      <!-- COMMENT CONTAINER END -->
    </div>

  </div>

</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:src="@{src/main/resources/static/js/functions.js}"></script>
<script th:src="@{src/main/resources/static/js/myGroup.js}"></script>
</body>
</html>